.rt-menu-simple {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        ul,
        .rt-menu__arrow {
            display: none;
        }
    }

}

.rt-menu-simple--horizontal-scroll {
    ul {
        overflow: auto;
        white-space: nowrap;
        margin-left: -10px;
        margin-right: -10px;

        li {
            display: inline-block;
            padding: 5px 8px;
        }
    }


}

.rt-menu-simple--horizontal-fixed {
    ul {
        margin-left: -10px;
        margin-right: -10px;

        li {
            display: inline-block;
            text-align: center;
            padding: 5px 8px;
        }
    }


}