.rt-menu--vertical {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            position: relative;
        }
    }

    .rt-menu {

        &__item {
            a {
                color: $font-color-secondary;
                font-size: 13px;
                position: relative;
                height: $menu-height;
                line-height: $menu-height;
                white-space: nowrap;
                padding-left: 15px;
                padding-right: 15px;
                cursor: pointer;
                border-bottom: 1px solid $border-color;
                display: block;
                &:hover{
                    color: var(--theme-link-active);
                }
            }
        }

        &__arrow {
            color: $font-color-secondary;
            position: absolute;
            height: $menu-height;
            width: $menu-height;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 12px;

            i {
                color: inherit;
                transition: 0.5s linear;
                font-size: 11px !important;
            }

            &.is-active {
                i {
                    transform: rotate(180deg);
                }
            }
        }

        &__submenu {
            display: none;
            padding-left: 10px;
            border-bottom: 1px solid $border-color;

            .rt-menu__item a {
                border: none;
            }
        }
    }
}