/*=================================================
*  BAR LINK
=================================================== */
.rt-menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  width: 19px;
  min-height: 15px;
  cursor: pointer;

  span,
  span:after,
  span:before {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 2px;
    content: '';
    transition: 0.8s;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: $font-color-secondary;
  }

  span {
    &:before {
      top: -5px;
    }

    &:after {
      bottom: -5px;
    }
  }

  &.is-active {
    span {
      height: 0;

      &:before {
        top: 0;
        transform: rotate(45deg);
        transform-origin: center;
      }

      &:after {
        top: 0;
        transform: rotate(-45deg);
        transform-origin: center;
      }
    }
  }
}

.rt-menu-toggle--point {
  position: relative;
  &:before {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 8px;
    height: 8px;
    content: '';
    border-radius: 10px;
    background-color: $color-highlight;
    z-index: 1;
  }
}