.rt-menu--horizontal {
  display: flex;
  height: $menubar-height;
}

.rt-menu--horizontal .rt-menu__main {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  .rt-menu__list {
    display: flex;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      list-style: none;
      position: relative;
    }
  }
}

/*=================================================
*  ITEM
=================================================== */
.rt-menu--horizontal .rt-menu__item {
  position: relative;

  a {
    color: $font-color-secondary;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    padding-left: $menubar-spacing;
    padding-right: $menubar-spacing;
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition: 0.1s linear;

    &:before {
      position: absolute;
      z-index: -1;
      height: 3px;
      bottom: -1px;
      left: 50%;
      right: 50%;
      visibility: hidden;
      content: "";
      background-color: $color-brand;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  &.is-active,
  &.current-menu-parent,
  &.current-menu-item,
  &.current_page_item {
    a {
      color: $link-active;

      &:before {
        visibility: visible;
        left: 0;
        right: 0;
      }
    }
  }
  &.is-active{
    .rt-menu__arrow i {
      color: $link-active;
      // transform: rotate(180deg);
      // transform-origin: center;
    }
  }

  &.menu-item-has-children {
    padding-right: 15px;
  }
}

/*=================================================
*  ARROW
=================================================== */
.rt-menu--horizontal .rt-menu__arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  height: inherit;
  align-items: center;
  width: 30px;
  justify-content: center;
  transition: 0.5s linear;
  color: $font-color-secondary;
  i {
    transition: .3s;
    font-size: 8px;
  }
}

/*=================================================
*  SUBMENU
=================================================== */
.rt-menu--horizontal .rt-menu__submenu {
  display: none;
  z-index: 99999;
  border-radius: $border-radius;
  min-width: $menubar-submenu-width;
  background-color: $background-primary;
  position: absolute;
  flex-direction: column;
  box-shadow: $shadow-md;
  padding-top: 8px !important;
  padding-bottom: 8px !important;

  .rt-menu__item {
    a {
      font-size: 13px;
      padding: 8px 20px !important;
      color: $font-color-secondary;
      transition: 0.3s ease-in;
      white-space: nowrap;

      &:before {
        display: none;
      }
    }

    i {
      color: $font-color-secondary;
    }

    &.is-active {
      a {
        color: $link-active;
        margin-left: 7px;
      }
    }
  }

  // submenu level 2
  .rt-menu__submenu {
    top: 0;
    left: $menubar-submenu-width;
  }
}