.rt-main-canvas-menu {
  z-index: 999;
  
  // side panel
  .rt-sidepanel {
    &__header {
      border: none;
    }

    &__body {
      padding: 0;
    }
  }

  // Header element
  .rt-header {
    &__element {
      padding: 15px;
      margin: 0;
    }
  }

  .rt-btn {
    width: 100%;
  }

  // Dropdown
  &--dropdown {
    background-color: $background-primary;
    box-shadow: $shadow-lg;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    overflow-y: auto;
    max-height: calc(100vh - 57px);
  }
}