/*=================================================
*  Reset Elements
=================================================== */
* {
    box-sizing: border-box;

    &:after,
    &:before {
        box-sizing: border-box;
    }
}