.rt-btn,
.button,
.rt-form .wpcf7-submit,
.wp-block-button__link:not(.has-background) {
  color: $btn-primary-color;
  display: inline-block;
  padding: 8px 25px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background-color: $btn-primary-background;
  background-image: none;
  touch-action: manipulation;
  transition: 0.2s linear;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  transition: 0.3s;

  &:hover {
    text-decoration: none;
    color: $btn-primary-color-active;
    background-color: $btn-primary-background-active;
    box-shadow: $shadow-md;
  }

  &.disabled,
  &.is-disabled,
  &:disabled[disabled],
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.loading,
  &.is-loading {
    padding-right: 30px;
    cursor: not-allowed;
    opacity: 0.5;

    &:after {
      height: 0.6em;
      width: 0.6em;
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      content: "";
      background: url(../img/spiner-light.svg) center center;
      background-size: auto;
      background-size: cover;
      line-height: 1;
      text-align: center;
      font-size: 2em;
      z-index: 99;
    }
  }
}

[role="button"],
a,
button,
input,
label,
select,
textarea {
  touch-action: manipulation;
}

/*====================================================
/* GLOBAL BUTTON NEW
/*====================================================*/
// button,
// a.button,
// a.wp-block-button__link:not(.has-background),
// input[type="button"],
// input[type="reset"],
// input[type="submit"] {
//   color: $btn-primary-color;
//   display: inline-block;
//   padding: 8px 25px;
//   cursor: pointer;
//   text-align: center;
//   vertical-align: middle;
//   white-space: nowrap;
//   border: 1px solid transparent;
//   border-radius: $border-radius;
//   background-color: $btn-primary-background;
//   background-image: none;
//   touch-action: manipulation;
//   transition: 0.2s linear;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.5;
//   position: relative;
//   transition: 0.3s;

//   &:hover {
//     text-decoration: none;
//     color: $btn-primary-color-active;
//     background-color: $btn-primary-background-active;
//     box-shadow: $shadow-md;
//   }

//   &.disabled,
//   &.is-disabled,
//   &:disabled[disabled],
//   &:disabled {
//     cursor: not-allowed;
//     opacity: 0.5;
//   }

//   &.loading,
//   &.is-loading {
//     padding-right: 30px;
//     cursor: not-allowed;
//     opacity: 0.5;

//     &:after {
//       height: 0.6em;
//       width: 0.6em;
//       display: block;
//       position: absolute;
//       top: 50%;
//       right: 10px;
//       transform: translateY(-50%);
//       content: "";
//       background: url(../img/spiner-light.svg) center center;
//       background-size: auto;
//       background-size: cover;
//       line-height: 1;
//       text-align: center;
//       font-size: 2em;
//       z-index: 99;
//     }
//   }
// }

/*=================================================
*  BUTTON SIZE
=================================================== */
.rt-btn--sm {
  font-size: 12px;
  padding: 5px 8px;
}

.rt-btn--lg {
  font-size: 16px;
  padding: 12px 30px;
}

.rt-btn--block {
  width: 100%;
  display: block;
}

/*=================================================
*  BUTTON COLOR
=================================================== */
.rt-btn--primary {
  color: $btn-primary-color;
  background-color: $btn-primary-background;
  &:hover {
    color: $btn-primary-color-active;
    background-color: $btn-primary-background-active;
  }
}

.rt-btn--second {
  background-color: $gray-7;
  color: $color-base;
  &:hover {
    color: $color-base;
    background-color: lighten($gray-7, 10%);
  }
}

.rt-btn--whatsapp {
  background-color: #25d366;
  &:hover {
    background-color: lighten(#25d366, 10%);
  }
}

.rt-btn--action,
.single_add_to_cart_button,
.button.checkout,
.woocommerce #place_order.button,
.woocommerce .checkout-button {
  color: $btn-action-color;
  background-color: $btn-action-background;

  &:hover {
    color: $btn-action-color-active;
    background-color: $btn-action-background-active;
  }
}

/*=================================================
*  BUTTON STYLE
=================================================== */
.rt-btn--block {
  width: 100%;
}

.rt-btn--border {
  color: $font-color-secondary;
  background: transparent;
  border: 1px solid $border-color;

  i {
    color: inherit;
  }

  &:hover {
    background: transparent;
    border: 1px solid $color-brand;
    color: $color-brand;

    i {
      color: inherit;
    }
  }

  &.loading,
  &.is-loading {
    &:after {
      background: url(../img/spiner.svg) center center;
    }
  }
}
