/**
 * version 1.1.0
 * */
@use "sass:math";

/*=================================================
*  FLEX COLUMNS
=================================================== */
.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-row {
  margin-left: -$grid-gap;
  margin-right: -$grid-gap;
}

.flexs {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$grid-gap;
  margin-right: -$grid-gap;
}

@each $breakpoint in map-keys($breakpoints) {
  @include media-min($breakpoint) {
    @for $i from 1 through $grid-columns {
      .flex-#{$breakpoint}-#{$i} {
        flex: if($i > 0, 0 0 percentage(math.div($i, $grid-columns)), 100%);
        max-width: if($i > 0, percentage(math.div($i, $grid-columns)), 100%);
      }
    }
  }
}

[class^="flex-lg-"],
[class^="flex-md-"],
[class^="flex-sm-"],
[class^="flex-xs-"]{
  padding-left: $grid-gap;
  padding-right: $grid-gap;
  width: 100%;
}

/*=================================================
*  ALIGMENT
=================================================== */

@each $key,
$flex-aligment in (start: flex-start,
  left: flex-start,
  center: center,
  end: flex-end,
  right: flex-end,
  top: flex-start,
  middle: center,
  bottom: flex-end) {
  .flex-#{$key} {
    @if $key=="start"or $key=="left"or $key=="center"or $key=="end"or $key=="right"

      {
      justify-content: #{$flex-aligment};
    }

    @else {
      align-items: #{$flex-aligment};
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include media($breakpoint) {
      .flex-#{$breakpoint}-#{$key} {
        @if $key=="start"or $key=="left"or $key=="center"or $key=="end"or $key=="right"

          {
          justify-content: #{$flex-aligment};
        }

        @else {
          align-items: #{$flex-aligment};
        }
      }
    }
  }
}

/*=================================================
*  DISTRIBUTION
=================================================== */

@each $key,
$flex-distribution in (around: space-around, between: space-between) {
  .flex-#{$key} {
    justify-content: #{$flex-distribution};
  }
}