label{
    display: block;
    margin-bottom: 5px;
}
fieldset {
    border: 1px solid $border-color;
    margin-bottom: 15px;
}
/*=================================================;
/* Form
/*================================================= */
.rt-form{
    position: relative !important;
    margin-bottom: 15px;

    &__label,
    label {
        font-family: $font-family-secondary;
        display: block;
        margin-bottom: 3px;
        z-index: 1;
        font-weight: $font-weight;
    }

    &__input,
    .wpcf7-text,
    .wpcf7-textarea {
        background-color: $background-primary;
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 38px;
        padding: 8px 15px;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        color: $font-color-secondary;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px $color-info;
            border-color: $color-info !important;
        }
    }

    textarea{
        min-height: 90px;
    }
}

/*====================================================
/* GLOBAL FORM NEW
/*====================================================*/
// label {
//     display: block;
//     margin-bottom: 3px;
//     z-index: 1;
//     font-weight: $font-weight;
// }

// Input[type="email"], 
// input[type="number"], 
// input[type="password"], 
// input[type="search"], 
// input[type="tel"], 
// input[type="text"], 
// input[type="url"], 
// textarea {
//     background-color: $background-primary;
//     display: block;
//     box-sizing: border-box;
//     width: 100%;
//     height: 38px;
//     padding: 8px 15px;
//     border: 1px solid $border-color;
//     border-radius: $border-radius;
//     color: $font-color-secondary;
//     &:focus {
//         outline: none;
//         box-shadow: 0 0 0 1px $color-info;
//         border-color: $color-info !important;
//     }
// }

// textarea{
//     min-height: 90px;
// }


/*=================================================;
/* CONTACT FORM 7
/*================================================= */
.wpcf7-form {
    br{
        display: none;
    }
}


/*=================================================
* FORM CHECBOX/RADIO
=================================================== */

.rt-form--radio,
.rt-form--checkbox {
    label {
        top: 1px;
        position: relative;
        margin-right: 9px;

        &:last-child {
            margin-right: 0;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 5px;
    }
}

// /*=================================================
// *  FORM SELECT
// =================================================== */
select {
    width: 100%;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, $border-color 50%), linear-gradient(135deg, $border-color 50%, transparent 50%), linear-gradient(to right, $border-color, $border-color);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border: 1px solid $border-color;
    color: $font-color-secondary;
    background-color: $background-primary;
    padding: 0 8px;
    padding-right: 35px;
    height: 37px;
    border-radius: $border-radius;
}

/*=================================================
*  SELECTION2
=================================================== */
.select2-dropdown{
    background-color: $background-primary;
}
.select2-container--default .select2-selection--single {
    border: 1px solid $border-color !important;
    border-radius: $border-radius !important;
    background-color: $background-primary;
    margin: 0 !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid $border-color;
    background-color: $background-primary;
    color: $font-color-secondary;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 37px;
    line-height: 37px !important;
    color: $font-color-secondary;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
    color: $font-color-secondary;
    border: 1px solid $border-color;
    background-color: $background-primary;
}

/*
current select2 result
*/

.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option[data-selected="true"] {
    background-color: $background-secondary;
}

/*
active select2 result
*/

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: $color-info;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: $background-secondary;
}



/*=================================================;
/* FORM OVERLAY
/*================================================= */
$field-height-overlay : 53px;

.rt-form--overlay {
    margin-bottom: 10px;
    position: relative;
    .rt-form__label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        transition: 0.2s linear;
        color: $font-color-tertiary !important;
        font-weight: 400!important;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        z-index: 1;
        pointer-events: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .optional {
        font-size: 11px !important;
    }

    .rt-form__input,
    .input-text {
        color: transparent;
        height: $field-height-overlay;
        padding-left: 10px;
        padding-right: 10px;
    }

    .rt-form__input::placeholder,
    .input-text::placeholder {
        color: transparent;
    }

    select {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
        background-position: calc(100% - 20px) 23px, calc(100% - 15px) 23px;
    }
}

.no-js .rt-form--overlay,
.rt-form--overlay.is-active{
    .rt-form__label {
        font-size: rem(11px);
        line-height: 1.5;
        top: 9px;
        transform: none;
        left: 11px;
        z-index: 1;
    }

    .rt-form__input,
    .input-text {
        color: $font-color-secondary;
        padding-top: 1.5em;
        padding-bottom: 0.35714em;
    }

    .rt-form__input::placeholder,
    .input-text::placeholder {
        color: $font-color-tertiary !important;
    }

    textarea {
        padding-top: 1.8em !important;
    }
}

// address 2 screen reader
#billing_address_2_field .rt-form__input::placeholder,
#shipping_address_2_field .rt-form__input::placeholder {
    color: $font-color-tertiary !important;
}

#billing_address_2_field.is-active .rt-form__input,
#shipping_address_2_field.is-active .rt-form__input {
    padding-top: 8px !important;
}

// Select 2
.rt-form--overlay.rt-form--select2 label {
    top: 17px;
    left: 14px;
    font-size: rem(11px);
}

.rt-form--overlay .select2-container .select2-selection--single,
.rt-form--overlay .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: $field-height-overlay !important;
}

.rt-form--overlay .select2-container .select2-selection--single,
.rt-form--overlay .select2-container--default .select2-selection--single .select2-selection__arrow,
.rt-form--overlay .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: $field-height-overlay !important;
    line-height: 65px !important;
    font-size: 14px;
}

.rt-form--overlay .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 10px;
}

/*=================================================;
/* FORM CHECKOUT TOGGLE
/*================================================= */
.rt-switch {
    display: flex;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .rt-switch__checkmark {
        position: absolute;
        display: inline-block;
    }

    .rt-switch__checkmark:before {
        position: absolute;
        content: '';
        width: 34px;
        height: 20px;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $border-color;
        transition: .4s;
        border: 1px solid $border-color;
        border-radius: 30px;
        overflow: hidden;
    }

    .rt-switch__checkmark:after {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        top: 2px;
        background-color: #ffffff;
        transition: .4s;
        border-radius: 100px;
    }

    input:checked+.rt-switch__checkmark:before {
        background-color: $color-info;
        border: 2px solid $color-info;
    }

    input:focus+.rt-switch__checkmark:before {
        box-shadow: 0 0 1px $color-info;
        border-color: $color-info;
    }

    input:checked+.rt-switch__checkmark:after {
        transform: translateX(14px);
    }
}

/*=================================================;
/* TEXTAREA
/*================================================= */
.rt-form--textarea{
    .rt-form__label{
        top: 20px;
    }
}