/*=================================================
*  GRID COLUMNS
=================================================== */
.grids {
    display: grid;
    grid-column-gap: $grid-spacing;
    grid-row-gap: $grid-spacing;
    @include media(sm){
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }
  }
  @each $breakpoint in map-keys($breakpoints) {
    @include media-min($breakpoint) {
      @for $i from 1 through $grid-columns {
        .grids-#{$breakpoint}-#{$i} {
          grid-template-columns: repeat($i, 1fr);
        }
      }
    }
  }
