/*=================================================
* IMAGE
=================================================== */

[class*="__thumbnail"] {
  position: relative;
  overflow: hidden;

  img {
    border-radius: $border-radius;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 100%;
  }


}

.rt-img {
  position: relative;
  overflow: hidden;

  img {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    max-width: 100%;
  }
}

.rt-img--circle {
  img {
    border-radius: 50%;
  }
}

.rt-img--rounded {
  img {
    border-radius: $border-radius;
  }
}

.rt-img--full {
  img {
    width: 100%;
  }
}

.rt-img--center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.rt-img--background {
  img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }
}


/*=================================================
*  IMAGE ON CONTENT
=================================================== */
img,
embed,
object,
iframe {
  max-width: 100%;
}

img {
  height: auto;
}

/*=================================================
*  IMAGE RESPONSIVE
=================================================== */
.img-responsive {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*=================================================;
/* IMAGE LIST
/*================================================= */
.rt-img-list {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  &__item {
    display: block;
    line-height: 1;
    &:last-child {
      margin-right: 0;
    }
  }

  img {
    border-radius: $border-radius;
  }
}