table{
  width: 100%;
}
.rt-table,
.shop_table,
.woocommerce-product-attributes,
.woocommerce-table {
  border-radius: $border-radius;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
  box-shadow: 0 0 0 1px $border-color;
  overflow: hidden;
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: $background-secondary;
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tfoot {
    tr:last-child {
      th,
      td {
        border-bottom: 0;
      }
    }
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    outline: none;
    th {
      vertical-align: top;
      border-bottom: 1px solid $border-color;
      padding: 8px;
      line-height: 1.4;
      text-align: left;
    }
    td {
      padding: 8px;
      line-height: 1.4;
      vertical-align: top;
      border-bottom: 1px solid $border-color;
      text-align: left;
    }
  }
}

/*=======================================
* TABLE ODD/EVENT
*=======================================*/
.rt-table--odd {
  tbody {
    tr:nth-child(odd) {
      background-color: $background-secondary;
    }
  }
}

.rt-table-responsive {
  overflow-x: auto;
}
