/*=================================================
*  TYPO
=================================================== */
html {
  font-size: $font-size;
}
body {
  font-family: $font-family-secondary;
  color: $font-color-secondary;
  font-size: 1rem;
  line-height: 1.75;
}

head,
title {
  display: none;
}

b,
strong {
  font-weight: $font-weight;
}
/*=================================================
*  HEADING
=================================================== */
@each $key, $font-size in $headings {
  #{$key} {
    font-size: $font-size;
  }
}

@each $key, $font-size in $headings-sm {
  @include media(sm) {
    #{$key} {
      font-size: $font-size;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color-primary;
  font-family: $font-family-primary;
  line-height: 1.2;
  padding: 0;
  margin-top: 0;
  margin-bottom: em(10px);
  font-weight: $font-weight;
}

/*=================================================;
/* PARAGRAF
/*================================================= */

p {
  margin-top: 0;
  margin-bottom: em(15px);
}

/*=================================================
*  LINK
=================================================== */
a {
  color: var(--theme-color-link);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--theme-color-link-active);
    text-decoration: none;
  }

  &.disable {
    cursor: default;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

/*=================================================;
/* SMALL
/*================================================= */
small {
  font-size: 0.8em;
}

/*=================================================
*  BLOCKQUOTE
=================================================== */

blockquote {
  font-size: 1.3rem;
  position: relative;
  margin: em(15px) 0;
  padding-top: em(15px);
  padding-bottom: em(5px);
  padding-left: em(60px);
  padding-right: em(15px);
  background-color: $background-secondary;
  border: 1px solid $border-color;
  border-left: 3px solid $border-color;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  font-style: italic;

  cite {
    display: block;
    font-size: $font-size;
    color: $font-color-primary;
    font-weight: $font-weight;
  }

  &:before {
    content: "";
    background-color: var(--theme-border-color);
    left: 5px;
    height: 3em;
    width: 3em;
    display: block;
    position: absolute;
    color: var(--theme-border-color);
    mask: url(../img/quote.svg) no-repeat 100% 100%;
    mask-size: auto;
    mask-size: cover;
  }
}

/*=======================================
* Code
*=======================================*/

code {
  display: block;
  background-color: $background-secondary;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: em(15px) em(20px);
  margin-top: em(8px);
  margin-bottom: em(15px);
}

pre {
  text-align: left;
  overflow: auto;
  border: 1px solid $border-color;
  padding: 15px;
}

/*=================================================;
/* LIST
/*================================================= */
ul,
ol {
  padding-left: em(30px);
  margin-top: 0;
  margin-bottom: em(8px);
}
