@keyframes header-down {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/*=================================================;
/* HEADER
/*================================================= */
.rt-header {
  z-index: 99;
  position: relative;

  .page-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    align-items: center;
  }

  &__element {
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__topbar {
    background-color: $background-secondary;
    border-bottom: 1px solid $border-color;
    height: $header-height;
  }

  &__main{
    background-color: $background-primary;
    border-bottom: 1px solid $border-color;
    height: $header-height;
  }

  &__sticky {
    background-color: $background-primary;
    border-bottom: 1px solid $border-color;
    height: $header-height;
    display: none;
    z-index: 99;
  }

  &__middle {
    background: $background-primary;
    border-bottom: 1px solid $border-color;
    height: $header-height;
  }
}

/*=================================================
*  STICKY ACTIVED
=================================================== */
.rt-header.is-sticky {
  .rt-header{
    &__topbar,
    &__middle,
    &__main{
      display: none;
    }
    &__sticky {
      display: block;
    }
  }
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  animation: header-down 0.5s;
  box-shadow: $shadow-sticky;
}

/*=================================================
* ELEMENTOR HEADER BUILDER
/*================================================= */
.js-elementor-header-sticky.is-sticky {
  box-shadow: $shadow-sticky;
  animation: header-down 0.5s;
  z-index: 9999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/*=================================================
* COLUMN 
/*================================================= */
.rt-header {
  [data-display="grow"] {
    flex: 1;
  }

  [data-alignment="left"] {
    justify-content: flex-start;
  }

  [data-alignment="center"] {
    justify-content: center;
  }

  [data-alignment="right"] {
    justify-content: flex-end;
  }

}

/*====================================================
/* TRANSPRENT HEADER
/*====================================================*/
.is-overlay:not(.is-sticky) {
  .rt-header__main,
  &.rt-header-mobile {
    position: absolute;
    left: 0;
    right: 0;
  }
  .rt-header__main,
  .rt-header-mobile__main {
    background-color: transparent;
    --theme-font-color-primary: rgba(255, 255, 255, 0.8);
    --theme-font-color-secondary: rgba(255, 255, 255, 0.8);
    --theme-color-link: rgba(255, 255, 255, 0.8);
    --theme-color-link-active: #fff;
    --theme-border-color: rgba(255, 255, 255, 0.1);
  }
  .rt-search {
    z-index: 9;
  }

  &.rt-header-mobile {
    .rt-search {
      top: 0;
    }
  }
}
