/*=================================================
*  HEADER MOBILE
=================================================== */
.rt-header-mobile {
  display: none;
  position: relative;
  z-index: 999;

  &__main {
    background-color: $background-primary;
    color: $font-color-secondary;
    height: 57px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid $border-color;

    a {
      color: $font-color-secondary;

      &:hover {
        color: $font-color-secondary;
      }
    }
  }

  &__element {
    display: flex;
    align-items: center;
    margin-right: 15px;
    &:last-child{
      margin-right: 10px;
    }
  }

  &-divender {
    background-color: $font-color-secondary;
    margin-left: 5px;
    margin-right: 5px;
    width: 1px;
  }

  &__column {
    display: flex;
    flex-flow: row wrap;
    height: inherit;
    align-items: center;
  }

  i {
    font-size: 14px;
  }
}

.rt-header-mobile .rt-menu__main .rt-header__element {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*=================================================
*  CONTAINER
=================================================== */
.rt-header-mobile__main .page-container {
  height: 100%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 100%;
  align-content: center;
}

/*=================================================;
/* SEARCH MAIN
/*================================================= */
.rt-header-mobile {
  .rt-search {
    height: 57px;
    &__input{
      font-size: 16px;
    }
    .page-container {
      height: 100%;
    }
  }
}

/*=================================================
* LOGO
=================================================== */
.rt-header-mobile {
  .rt-logo {
    width: 120px;
    display: inline-block;

    img {
      vertical-align: middle;
      width: 100%;
    }
  }
  
  &.is-overlay{
    .rt-logo__primary{
      display: none;
    }
    .rt-logo__alternative{
      display: block;
    }
  }
  &.is-sticky{
    .rt-logo__primary{
      display: block;
    }
    .rt-logo__alternative{
      display: none;
    }
  }
}

/*=================================================;
/* STICKY
/*================================================= */
.rt-header-mobile.is-sticky {
  animation: header-down 0.5s;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: $shadow-sticky;
  animation: navbar-down 0.5s;
}

/*=================================================;
/* RESPONSIVE MAIN HEADER
/*================================================= */
@media only screen and (max-width: 900px) {
  .rt-header {
    display: none;
  }

  .rt-header-mobile {
    display: block;
  }
}
