/*=================================================;
/* HEADER CHECKOUT
/*================================================= */
.rt-header-checkout {
    border-bottom: 1px solid $border-color;
  
    .page-container {
      height: 60px;
      display: flex;
      align-items: center;
    }
  
    .rt-logo {
      max-width: 180px;
      img{
        vertical-align: middle;
      }
    }
  }