/*=================================================;
/* HEADER ELEMENT
/*================================================= */
.rt-header {
  &-divender {
    background-color: $font-color-secondary;
    margin-left: 5px;
    margin-right: 5px;
    width: 1px;
    height: 15px;
  }

  &-search-form {
    width: var(--header-search-form-width, 100%);
  }

  &-btn {
    margin: 0;
  }

  &-cart {
    position: relative;
    cursor: pointer;
  }

  &-cart-icon {
    position: relative;
    line-height: 1px;
  }

  &-icon {
    text-align: center;
    line-height: 35px;
    width: 35px;
    font-size: 14px;
    border: 1px solid transparent;
  }

  &-menu-toggle {
    display: inline-flex;
    cursor: pointer;
    &__label {
      margin-left: 10px;
      color: var(--theme-color-link);
    }
    &--frame {
      border: 1px solid var(--theme-border-color);
      border-radius: var(--theme-border-radius);
      line-height: 1;
      padding: 10px;
    }
  }

  .rt-logo {
    height: inherit;
    display: flex;
    align-items: center;
    width: 180px;

    a {
      font-size: 18px;
      text-transform: capitalize;
    }
    img{
      vertical-align: middle;
    }
  }

  .site-title,
  .site-desc {
    display: none;
  }

  *[class*="rt-header-html-"] {
    color: $font-color-secondary;
  }
}

/*=================================================;
  /* HEADER ELEMENT - CART
  /*================================================= */
.rt-cart-item-count {
  position: absolute;
  background-color: $color-highlight;
  color: $color-base;
  border-radius: 100px;
  display: inline-block;
  height: 17px;
  min-width: 17px;
  line-height: 17px;
  text-align: center;
  font-size: 11px;
  top: -6px;
  right: -15px;
}
