.widget_tag_cloud,
.widget_product_tag_cloud {
    .tag-cloud-link {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
        text-transform: capitalize;
        padding: 5px 10px;
        color: $font-color-primary;
        border: 1px solid $border-color;
        border-radius: $border-radius;

        &:hover {
            color: $color-base;
            border-color: $color-brand;
            background-color: $color-brand;
        }
    }
}