.widget_rss{
  .rsswidget{
    display: block;
    color: $font-color-primary;
    font-weight: bold;
  }
  .rss-date{
    color: $font-color-tertiary;
    font-size: 11px;
  }
  .rssSummary{
    margin-bottom: 10px;
  }
  cite{
    color: $font-color-tertiary;
  }
  .rt-widget__title{
    display: flex;
    .rsswidget{
      margin-right: 5px;
    }
  }

}
