.rt-widget {
  position: relative;
  color: $font-color-secondary;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 15px;
  margin-bottom: $grid-spacing;

  &:last-of-type{
    @include media-min(md){
      margin-bottom: 0;
    }
  }

  select {
    width: 100%;
  }

  &__header {
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 16px;
    color: $font-color-primary;
  }
}

.rt-widget--footer{
  padding: 0;
  border: none;
  .rt-widget{
    &__header{
      border: none;
    }
    &__title{
      font-size: 18px;
    }
  }
  li{
    border: none;
  }
}