
html {
    overflow-x: hidden;
}

.template--compact .rt-entry-content> :not(.alignwide, .alignfull, .alignleft, .alignright, .is-style-wide),
.template--compact .wp-block-group__inner-container,
.page-compact .page-container,
.template--compact .home-section .page-container,
.template--compact .page-wrapper .page-container {
    @include media-min(md) {
        margin-left: auto;
        margin-right: auto;
        max-width: $container-compact;
    }
}



/*=================================================;
/* BOX ALIGN
/*================================================= */
.rt-entry-content {
    position: relative;

    .alignwide {
        @include media-min(md) {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .alignfull {
        margin-left: calc(50% - 50vw) !important;
        margin-right: calc(50% - 50vw) !important;
        width: auto;
        max-width: 1000%;
    }

    .alignleft {
        display: inline;
        float: left;
        margin-right: 1.5em;
    }

    .alignright {
        display: inline;
        float: right;
        margin-left: 1.5em;
    }

    .aligncenter {
        clear: both;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

}

/*=================================================;
/* IMAGE
/*================================================= */
.wp-block-image {
    figure{
        margin: 0;
    }
    figcaption {
        color: $font-color-tertiary;
        text-align: center;
        width: 100%;
    }
}

/*=================================================;
/* TABLE
/*================================================= */
.wp-block-table {
    table {
        margin-bottom: 5px;
    }

    table,
    td,
    th {
        border: 1px solid $border-color;
    }
}

/*=================================================;
/* QUOTE
/*================================================= */
.wp-block-quote {
    padding-left: 65px !important;
    padding-top: 10px !important;
    padding-bottom: 15px;

    blockquote {
        padding-left: 55px !important;
        padding-top: 10px !important;
        padding-bottom: 15px;
    }

    .has-very-dark-gray-color {
        background-color: transparent;
        border: none;
    }
    
    p{
        margin-bottom: 0;
    }
}

/*=================================================;
/* PULLQUOTE
/*================================================= */
.wp-block-pullquote {
    border-color: $border-color;

    blockquote {
        padding-left: 55px !important;
        padding-top: 10px !important;
        padding-bottom: 15px;
        background: transparent;
        border: none;
    }
}

/*=================================================;
/* CODE
/*================================================= */
.wp-block-code {
    border: none;
    padding: 0;
}

/*=================================================;
/* SEPARATOR
/*================================================= */
.wp-block-separator {
    border-color: $border-color;
}

/*=================================================;
/* COLORS
/*================================================= */
.has-white-color {
    --theme-font-color-primary: #e8e8e9;
    --theme-font-color-secondary: rgba(255, 255, 255, .4);
    --theme-font-color-tertiary: rgba(255, 255, 255, .6);
}

/*=================================================;
/* GROUP
/*================================================= */
.wp-block-group {
    &.has-background {
        padding: 70px 0;
    }
}