/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@font-face {
	font-family: 'star';
	src: url('../../woo/fonts/star.eot');
	src: url('../../woo/fonts/star.eot?#iefix') format('embedded-opentype'),
		url('../../woo/fonts/star.woff') format('woff'),
		url('../../woo/fonts/star.ttf') format('truetype'),
		url('../../woo/fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WooCommerce';
	src: url('../../woo/fonts/WooCommerce.eot');
	src: url('../../woo/fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('../../woo/fonts/WooCommerce.woff') format('woff'),
		url('../../woo/fonts/WooCommerce.ttf') format('truetype'),
		url('../../woo/fonts/WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}