#sub-accordion-section-header_builder_section {
  bottom: -396px !important;
  z-index: 99;
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  top: auto !important;
  visibility: visible !important;
  height: 0 !important;
  padding: 0 !important;
  max-height: auto !important;
  overflow: visible !important;
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
  transition-property: left, right, top, bottom, width, margin;
  transition-duration: 0.2s;
  width: auto !important;
  .customize-section-description-container {
    display: none !important;
  }
  #header-builder-close {
    display: none;
  }
  #header-builder-open {
    position: absolute;
    top: -25px;
    right: -7px;
    border: 0;
    border-radius: 5px 0 0 0;
  }
}
#sub-accordion-section-header_builder_section.is-active {
  bottom: 0 !important;
  #header-builder-close {
    display: block;
  }
  #header-builder-open {
    display: none;
  }
}
#customize-control-header_builder_option {
  overflow-x: hidden;
}
#accordion-section-header_builder_section {
  .accordion-section-title {
    display: none !important;
  }
}
#sub-accordion-section-header_builder_section.expanded {
  left: 300px !important;
  transition-property: left, right, top, bottom, width, margin;
  transition-duration: 0.2s;
  @media screen and (min-width: 1667px) {
    margin-left: 18%;
  }
}
