.wp-customizer {
  --customizer-brand-primary: #209cee;
  --customizer-border-color: #dddddd;
  --customizer-link: #00a0d2;
  --customizer-link-hover: #00a0d2;
  --customizer-background-primary: #f0f0f1;
  --customizer-background-secodary: #eeeeee;
  --customizer-color-hightlight: #23d160;
}

#sub-accordion-section-header_builder_section {
  bottom: -396px !important;
  z-index: 99;
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  top: auto !important;
  visibility: visible !important;
  height: 0 !important;
  padding: 0 !important;
  max-height: auto !important;
  overflow: visible !important;
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
  -webkit-transition-property: left, right, top, bottom, width, margin;
  transition-property: left, right, top, bottom, width, margin;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  width: auto !important;
}

#sub-accordion-section-header_builder_section
  .customize-section-description-container {
  display: none !important;
}

#sub-accordion-section-header_builder_section #header-builder-close {
  display: none;
}

#sub-accordion-section-header_builder_section #header-builder-open {
  position: absolute;
  top: -25px;
  right: -7px;
  border: 0;
  border-radius: 5px 0 0 0;
}

#sub-accordion-section-header_builder_section.is-active {
  bottom: 0 !important;
}

#sub-accordion-section-header_builder_section.is-active #header-builder-close {
  display: block;
}

#sub-accordion-section-header_builder_section.is-active #header-builder-open {
  display: none;
}

#customize-control-header_builder_option {
  overflow-x: hidden;
}

#accordion-section-header_builder_section .accordion-section-title {
  display: none !important;
}

#sub-accordion-section-header_builder_section.expanded {
  left: 300px !important;
  -webkit-transition-property: left, right, top, bottom, width, margin;
  transition-property: left, right, top, bottom, width, margin;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

@media screen and (min-width: 1667px) {
  #sub-accordion-section-header_builder_section.expanded {
    left: 18% !important;
  }
}

/*=================================================
*   CONTROL - GENERAL
=================================================== */
.customize-control {
  position: relative;
  border-top: 1px solid var(--customizer-border-color);
  padding-top: 8px;
  padding-bottom: 8px;
}

/*=================================================
*   CONTROL - HEADER
=================================================== */
.control-header {
  margin: 15px -12px;
  padding: 0 12px;
  padding: 5px 15px;
  color: #fff;
  background: var(--customizer-brand-primary);
  font-size: 15px !important;
  font-weight: 500 !important;
  position: relative;
  margin-bottom: -1px !important;
  z-index: 9 !important;
}

/*=================================================
*   CONTROL - SELECT 2
=================================================== */
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background: var(--customizer-background-secodary) !important;
  border: 1px solid var(--customizer-border-color) !important;
  cursor: pointer !important;
}

/*=================================================
*   CONTROL - RESPONSIVE
=================================================== */
.responsive-switchers {
  display: none;
  position: absolute;
  right: -10px;
  top: 7px;
}

.responsive-switchers .dashicons {
  background-color: #b4b9be;
  margin-right: 7px;
  margin-bottom: 0;
  font-size: 12px;
  color: #fff;
  height: 20px;
  width: 20px;
  line-height: 21px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
}

.control-responsive .responsive-switchers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview-desktop .responsive-switchers .dashicons-desktop {
  background-color: #191e23;
}

.preview-desktop .control-device-tablet {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.preview-desktop .control-device-mobile {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.preview-tablet .responsive-switchers .dashicons-tablet {
  background-color: #191e23;
}

.preview-tablet .control-device-desktop {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.preview-tablet .control-device-mobile {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.preview-mobile .wp-full-overlay-main {
  width: 375px;
  height: 667px;
}

.preview-mobile .responsive-switchers .dashicons-smartphone {
  background-color: #191e23;
}

.preview-mobile .control-device-desktop {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.preview-mobile .control-device-tablet {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

/*=================================================
*   CONTROL - DIMENSION
=================================================== */
.customize-control-kirki-dimensions .wrapper .control > div {
  width: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px;
}

.customize-control-kirki-dimensions .wrapper .control > div h5 {
  margin: 0 0 5px;
}

/*=================================================
*   CONTROL - MULTICOLOR
=================================================== */
.customize-control-kirki-multicolor .multicolor-group-wrapper {
  width: 104px !important;
}
/*# sourceMappingURL=customizer-panel.css.map */
