.wp-customizer {
    --customizer-brand-primary: #209cee;
    --customizer-border-color: #dddddd;
    --customizer-link: #00a0d2;
    --customizer-link-hover: #00a0d2;
    --customizer-background-primary: #f0f0f1;
    --customizer-background-secodary: #eeeeee;
    --customizer-color-hightlight: #23d160;
}

@import "_header-control.scss";
/*=================================================
*   CONTROL - GENERAL
=================================================== */
.customize-control {
    position: relative;
    border-top: 1px solid var(--customizer-border-color);
    padding-top: 8px;
    padding-bottom: 8px;
}

/*=================================================
*   CONTROL - HEADER
=================================================== */
.control-header {
    margin: 15px -12px;
    padding: 0 12px;
    padding: 5px 15px;
    color: #fff;
    background: var(--customizer-brand-primary);
    font-size: 15px !important;
    font-weight: 500 !important;
    position: relative;
    margin-bottom: -1px !important;
    z-index: 9 !important;
}

/*=================================================
*   CONTROL - SELECT 2
=================================================== */
.select2-container--default {
    .select2-selection--multiple {
        .select2-selection__choice {
            background: var(--customizer-background-secodary) !important;
            border: 1px solid var(--customizer-border-color) !important;
            cursor: pointer !important;
        }
    }
}

/*=================================================
*   CONTROL - RESPONSIVE
=================================================== */
.responsive-switchers {
    display: none;
    position: absolute;
    right: -10px;
    top: 7px;

    .dashicons {
        background-color: #b4b9be;
        margin-right: 7px;
        margin-bottom: 0;
        font-size: 12px;
        color: #fff;
        height: 20px;
        width: 20px;
        line-height: 21px;
        text-align: center;
        border-radius: 100px;
        cursor: pointer;
    }
}

.control-responsive {
    .responsive-switchers {
        display: flex;
    }
}

.preview-desktop {
    .responsive-switchers {
        .dashicons-desktop {
            background-color: #191e23;
        }
    }

    .control-device-tablet {
        visibility: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }

    .control-device-mobile {
        visibility: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }
}

.preview-tablet {
    .responsive-switchers {
        .dashicons-tablet {
            background-color: #191e23;
        }
    }

    .control-device-desktop {
        visibility: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }

    .control-device-mobile {
        visibility: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }
}

.preview-mobile {
    .wp-full-overlay-main {
        width: 375px;
        height: 667px;
    }

    .responsive-switchers {
        .dashicons-smartphone {
            background-color: #191e23;
        }
    }

    .control-device-desktop {
        visibility: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }

    .control-device-tablet {
        visibility: hidden !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }
}

/*=================================================
*   CONTROL - DIMENSION
=================================================== */
.customize-control-kirki-dimensions {
    .wrapper {
        .control {
            >div {
                h5 {
                    margin: 0 0 5px;
                }

                width: auto;
                flex: 1;
                margin-right: 10px;
            }
        }
    }
}

/*=================================================
*   CONTROL - MULTICOLOR
=================================================== */
.customize-control-kirki-multicolor {
    .multicolor-group-wrapper {
        width: 104px !important;
    }
}