/**
 * Account page
 */
.woocommerce-account {
   .woocommerce-Address-title {
      @include clearfix();

      h3 {
         float: left;
      }

      .edit {
         float: right;
         line-height: 1;
      }
   }

   ol.commentlist.notes li.note {
      p.meta {
         font-weight: $font-weight;
         margin-bottom: 0;
      }

      .description p:last-child {
         margin-bottom: 0;
      }
   }

   ul.digital-downloads {
      margin-left: 0;
      padding-left: 0;

      li {
         list-style: none;
         margin-left: 0;
         padding-left: 0;

         &::before {
            @include iconbefore('\e00a');
         }

         .count {
            float: right;
         }
      }
   }
}

.logged-in.woocommerce-account {
   .rt-page.rt-entry-content > .woocommerce {
      display: flex;
      flex-flow: row wrap;
   }
}

@include media-min(lg) {
   .woocommerce {
      &-MyAccount-navigation {
         max-width: $sidebar-width;
         flex-basis: $sidebar-width;
         margin-right: 50px;
         margin-bottom: 20px;

         ul {
            border: none;
            list-style: none;
            padding: 0;

            li {
               color: $font-color-secondary;
               list-style: none;
               border: 1px solid $border-color;
               font-size: 14px;
               cursor: pointer;
               margin-bottom: -1px;

               &.is-active,
               &:hover {
                  color: $color-base;
                  background-color: $color-brand;
                  border-color: $color-brand;
               }

               &:first-child {
                  border-top-left-radius: $border-radius;
                  border-top-right-radius: $border-radius;
               }

               &:last-child {
                  border-bottom-left-radius: $border-radius;
                  border-bottom-right-radius: $border-radius;
               }
            }

            a {
               color: inherit;
               padding: 5px 15px;
               display: block;
            }
         }
      }

      &-MyAccount-content {
         flex: 1;
         width: 100%;
      }
   }
}

@include media(lg) {
   .woocommerce {
      &-MyAccount-navigation {
         margin-bottom: 20px;
         float: auto !important;
         width: 100% !important;

         ul {
            border: none;
            display: flex;
            gap: 10px;
            flex-flow: row wrap;
            list-style: none;
            padding: 10px 0;
            li {
               a {
                  color: $font-color-secondary;
                  border: 1px solid $border-color;
                  display: inline-block;
                  padding: 8px 15px;
                  font-size: 14px;
                  line-height: 1;
                  border-radius: 100px;

                  &:hover {
                     color: $color-base;
                     background-color: $color-brand;
                     border-color: $color-brand;
                  }
               }

               &.is-active {
                  a {
                     color: $color-base;
                     background-color: $color-brand;
                     border-color: $color-brand;
                  }
               }
            }
         }
      }
   }
}

/*=================================================
  *  DETAIL
  =================================================== */
.woocommerce .fieldset {
   border: none;
   padding: 0;

   legend {
      display: none;
   }
}

.woocommerce .order_details {
   tfoot {
      td {
         text-align: right;
      }
   }
}

.shop_table.order_details {
   .button,
   .rt-btn {
      font-size: 12px;
      padding: 4px 6px;
   }
}
