/**
 * Cart/checkout page
 */
.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {
  #payment {
    ul.payment_methods {
      @include clearfix();
      text-align: left;
      padding: 1em;
      margin: 0;
      list-style: none outside;

      li {
        line-height: 2;
        text-align: left;
        margin: 0;
        font-weight: normal;

        input {
          margin: 0 1em 0 0;
        }

        img {
          vertical-align: middle;
          margin: -2px 0 0 0.5em;
          padding: 0;
          position: relative;
        }

        img + img {
          margin-left: 2px;
        }
      }

      li:not(.woocommerce-notice) {
        @include clearfix;
      }
    }

    div.form-row {
      padding: 1em;
    }

    div.payment_box {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding: 1em;
      margin: 1em 0;
      font-size: 0.92em;
      border-radius: 2px;
      line-height: 1.5;

      .woocommerce-SavedPaymentMethods {
        list-style: none outside;
        margin: 0;

        .woocommerce-SavedPaymentMethods-token,
        .woocommerce-SavedPaymentMethods-new {
          margin: 0 0 0.5em;

          label {
            cursor: pointer;
          }
        }

        .woocommerce-SavedPaymentMethods-tokenInput {
          vertical-align: middle;
          margin: -3px 1em 0 0;
          position: relative;
        }
      }

      .wc-credit-card-form {
        border: 0;
        padding: 0;
        margin: 1em 0 0;
      }

      .wc-credit-card-form-card-number,
      .wc-credit-card-form-card-expiry,
      .wc-credit-card-form-card-cvc {
        font-size: 1.5em;
        padding: 8px;
        background-repeat: no-repeat;
        background-position: right 0.618em center;
        background-size: 32px 20px;

        &.visa {
          background-image: url("../woo/images/icons/credit-cards/visa.svg");
        }

        &.mastercard {
          background-image: url("../woo/images/icons/credit-cards/mastercard.svg");
        }

        &.laser {
          background-image: url("../woo/images/icons/credit-cards/laser.svg");
        }

        &.dinersclub {
          background-image: url("../woo/images/icons/credit-cards/diners.svg");
        }

        &.maestro {
          background-image: url("../woo/images/icons/credit-cards/maestro.svg");
        }

        &.jcb {
          background-image: url("../woo/images/icons/credit-cards/jcb.svg");
        }

        &.amex {
          background-image: url("../woo/images/icons/credit-cards/amex.svg");
        }

        &.discover {
          background-image: url("../woo/images/icons/credit-cards/discover.svg");
        }
      }

      span.help {
        font-size: 0.857em;
        color: $font-color-tertiary;
        font-weight: normal;
      }

      .form-row {
        margin: 0 0 1em;
      }

      p:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        display: block;
        border: 1em solid $border-color;
        /* arrow size / color */
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        top: -0.75em;
        left: 0;
        margin: -1em 0 0 2em;
      }
    }

    .payment_method_paypal {
      .about_paypal {
        float: right;
        line-height: 52px;
        font-size: 0.83em;
      }

      img {
        max-height: 52px;
        vertical-align: middle;
      }
    }
  }
}

.woocommerce-terms-and-conditions {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}

.woocommerce-invalid {
  #terms {
    outline: 2px solid $color-red;
    outline-offset: 2px;
  }
}

/*====================================================
/* CART QTY
/*====================================================*/
.woocommerce-cart-form {
  @include media(sm) {
    .rt-qty {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 58px;
      .qty {
        font-size: 11px;
        height: 25px;
      }
      span {
        height: 25px;
        width: 20px;
      }
    }
  }
}

/*=================================================;
/* CART FLEX
/*================================================= */
@include media-min(md) {
  .rt-cart {
    overflow: hidden;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin-bottom: 30px;

    &__header {
      background-color: $background-secondary;
      font-weight: $font-weight;
      border-bottom: 1px solid $border-color;
      padding: 3px 7px;

      .product-name {
        margin-left: 65px;
      }

      .product-remove {
        flex: 0.1;
      }
    }

    &__row {
      display: flex;
      flex-flow: wrap row;
      align-items: flex-start;
      > span {
        flex: 1;
        padding: 7px 10px;
      }
    }

    &__body {
      font-size: 14px;
      line-height: 1.5;
    }

    &__footer {
      padding: 10px 10px;
      border-top: 1px solid $border-color;
      background-color: $background-secondary;

      span {
        justify-content: space-between;
        padding: 0;
      }
    }

    /* quantity */
    .quantity {
      width: 94px;
    }

    .rt-qty {
      margin-bottom: 0;
    }

    /* cart item */
    .rt-cart-product {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid $border-color;
      &:last-child{
        border: none;
      }
      &__thumbnail {
        max-width: $thumbnail-size;
        padding-right: 0;
      }

      &__remove {
        flex: 0.1;
      }

      &__name {
        display: block;

        a {
          display: block;
          color: $font-color-primary;

          &:hover {
            color: $link-active;
          }
        }

        p {
          color: $font-color-tertiary;
        }
      }

      &__meta {
        font-size: 13px;
        color: $font-color-tertiary;
        ul {
          margin-left: 0;
          padding: 0;
        }
      }
    }

    /* coupon */
    .coupon {
      display: flex;
      justify-content: space-between;
      .input-text {
        margin-right: 10px;
      }
    }

    // variation
    dl.variation {
      margin: 0;
      dd {
        margin: 0;
      }
    }
  }
}

@include media(md) {
  .rt-cart {
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid $border-color;
    border-radius: $border-radius;

    &__row {
      > span {
        display: block;
      }

      > span:not(.rt-cart-product__thumbnail) {
        margin-left: 80px;
        margin-bottom: 5px;
      }
    }

    &__header {
      display: none;
    }

    &__body {
      font-size: 14px;
      line-height: 1.5;
    }

    &__footer {
      padding: 10px 10px;
      border-top: 1px solid $border-color;
      background-color: $background-secondary;

      > span {
        margin: 0 !important;
      }
    }

    /* cart item */
    .rt-cart-product {
      padding: 7px 10px;
      position: relative;
      border-bottom: 1px solid $border-color;

      &__thumbnail {
        max-width: $thumbnail-size;
        padding-right: 0;
        float: left;

        a {
          display: inline-block;
        }
      }

      &__remove {
        position: absolute;
        top: 7px;
        right: 10px;
      }

      &__name a {
        color: $font-color-primary;
        display: block;
        &:hover {
          color: $link-active;
        }
      }

      &__meta {
        font-size: 13px;
        color: $font-color-tertiary;
      }

      &__price {
        color: $font-color-tertiary;
      }

      &__subtotal {
        font-weight: $font-weight;
      }
    }

    /* quantity */
    .quantity {
      width: 80px;
    }

    .rt-qty {
      margin-bottom: 0;
    }

    /* coupon */
    .coupon {
      display: flex;
      flex-direction: column;

      .input-text {
        margin-bottom: 10px;
      }
    }
    .rt-btn--second {
      width: 100%;
      margin-top: 15px;
    }

    // variation
    dl.variation {
      margin: 0;
      dd {
        margin: 0;
      }
    }
  }
}

/*=================================================;
  /* CART - COUPON
  /*================================================= */
.woocommerce-js.pro .rt-cart .rt-btn--second {
  display: none;
}

/*=================================================
  *  CART TOTAL
  =================================================== */
.cart-collaterals {
  border-radius: $border-radius;
  background-color: $background-secondary;
  border: 1px solid $border-color;
  padding: 15px;

  h2 {
    font-size: 18px;
  }

  table {
    width: 100%;
    background-color: $background-primary;
    border: none;
    border-radius: $border-radius;
    border-style: hidden;
    box-shadow: 0 0 0 1px $border-color;
    overflow: hidden;
    margin-bottom: 30px;

    th {
      vertical-align: top;
      border-bottom: 1px solid $border-color;
      padding: 8px;
      line-height: 1.4;
      text-align: left;
    }

    td {
      padding: 8px;
      line-height: 1.4;
      vertical-align: top;
      border-bottom: 1px solid $border-color;
      text-align: left;
    }

    tr:last-child {
      th,
      td {
        border: none;
      }
    }
  }

  .checkout-button {
    margin-bottom: 20px;
  }

  .cart_totals {
    width: 100% !important;
  }
}

/*=================================================;
  /* SHIPPING - CART CALC
  /*================================================= */
.shipping-calculator-form {
  text-align: left;
}

/*====================================================
/* REMOVE - ICON
/*====================================================*/
.woocommerce-cart-form {
  a.remove {
    position: absolute;
    top: 2px;
    left: 4px;
  }
}
