/*=================================================;
/* COUPON & REGISTER
/*================================================= */
.woocommerce-form-login-toggle {
  margin-bottom: 5px;

  .woocommerce-info {
    border: none;
    background-color: transparent;
    color: $font-color-secondary;
    padding: 0;
    margin-bottom: 10px;

    &:before {
      display: none;
    }

    a:hover {
      color: $link-active;
    }
  }
}

.woocommerce-checkout .woocommerce-form-login {
  border: 1px solid $border-color !important;
  border-radius: $border-radius;
  width: 100%;

  @include media-min(lg) {
    width: 49%;
  }
}

/*=================================================;
/* BILLING DETAIL
/*================================================= */
.rt-checkout-billing {
  margin-bottom: 30px;
}

.woocommerce-additional-fields h3 {
  display: none;
}

.woocommerce-checkout .place-order {
  padding: 0 !important;
}

.woocommerce-account-fields label span {
  font-size: 14px;
}

/*=================================================;
/* SHIPPING
/*================================================= */
#ship-to-different-address {
  margin-left: 3px;
  font-size: 14px;

  input {
    margin-right: 7px;
  }
}

/*=================================================;
/* ORDER REVIEW
/*================================================= */
.rt-checkout-order {
  @include media(sm) {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.woocommerce-checkout-review-order {
  &-table {
    background-color: $background-primary;
    position: relative;
    margin-bottom: $grid-spacing;
  }

  th {
    font-weight: $font-weight;
  }

  td {
    text-align: right;
  }

  th,
  td {
    padding: 8px 15px !important;

    &:last-child {
      text-align: right;
    }
  }

  .order-total {
    th {
      font-size: 16px;
    }

    .woocommerce-Price-currencySymbol {
      font-size: 14px;
      margin-right: 5px;
    }

    .woocommerce-Price-amount {
      font-size: 21px;
      font-weight: $font-weight;
    }
  }


  .woocommerce-checkout-cart {
    margin: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

/*=================================================;
/* ORDER TABLE
/*================================================= */
.rt-checkout-review-order,
.rt-checkout-cart {
  overflow: hidden;
  background-color: $background-secondary;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 15px;

  .rt-mini-cart {
    position: relative;
    background-color: $background-primary;
    box-shadow: 0 0 0 1px $border-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    &__footer {
      display: none;
    }
  }
}

/*=================================================
*  PAYMENT
=================================================== */
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background-color: transparent;
}

/* payment box */
#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  position: relative;
  background-color: $background-primary;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

/* retagle */
#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
  position: absolute;
  content: "";
  background-color: $background-primary;
  border: 1px solid $border-color;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  top: -8px;
  left: 25px;
  margin: 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
  border-color: $border-color;
  padding-top: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.woocommerce-checkout ul.payment_methods li label{
  display: inline-block;
}

/*=================================================
*  CHECKOUT COUPON
=================================================== */
.rt-form-coupon {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  width: 100%;
  background-color: $background-primary;
  padding: 15px;
  margin-bottom: $grid-spacing;
  .rt-form {
    margin-bottom: 0;
  }

  @include media-min(lg) {
    .rt-form {
      display: flex;
    }

    .input-text {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -1px;
    }

    .rt-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @include media(sm) {
    .input-text {
      margin-bottom: 10px;
    }

    .rt-btn {
      width: 100%;
      border-radius: $border-radius !important;
    }
  }
}

.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    margin-bottom: 15px;
  }
}

// Modal kupon
// move kupon on modal
.rt-coupon-checkout-trigger {
  padding: 15px;
  border: 3px dashed $border-color;
  margin: 0 0 20px 0;
  text-align: center;

  @include media(sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

/*=================================================
* THANK
/*================================================= */
.template--focus.woocommerce-checkout {
  .woocommerce-order {
    @include media-min(lg) {
      width: 590px;
      margin: 0 auto;
    }
  }
}

.woocommerce .wc-bacs-bank-details-account-name {
  background-color: $background-secondary;
  border: 1px solid $border-color;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  padding: 8px 15px;
  margin-bottom: -1px !important;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.wc-bacs-bank-details {
  padding: 0;
  border: 1px solid $border-color;
  display: block;
}

/* List order bank detail */
.woocommerce ul.order_details {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 0;
  margin-bottom: 20px !important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.woocommerce ul.order_details li {
  position: relative;
  float: none !important;
  margin-right: 0;
  text-transform: none;
  font-size: 14px;
  line-height: 1.5;
  border-right: none;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid $border-color;
  padding: 6px 12px;
  &:last-child{
    border: none;
  }
  .rt-checkout-clipboard {
    font-size: 13px;
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
}

.woocommerce ul.order_details li strong {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  text-transform: none;
  margin-left: 10px;
  font-weight: $font-weight;
}

.woocommerce .woocommerce-customer-details address {
  border-color: $border-color;
  border-radius: $border-radius;
  margin-bottom: 15px !important;
}

.woocommerce-notice.woocommerce-thankyou-order-received {
  padding: 0;
  color: $font-color-secondary;
  background: transparent;
}

.woocommerce .woocommerce-thankyou-order-details {
  border-radius: $border-radius !important;
}

// table
.woocommerce-table--order-details {
  border-collapse: separate !important;
  border-spacing: 0;
}

.woocommerce-table--order-details td,
table th {
  padding: 10px;
  text-align: left;
}

/*=================================================;
/* FORM RADIO
/*================================================= */
#ship-to-different-address {
  font-size: 1em;
  display: inline-block;
  margin: 1.42em 0;
  margin-left: 5px;

  label {
    span {
      position: relative;
      display: block;
      text-align: right;
      padding-left: 45px;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        height: 16px;
        width: 30px;
        border: 1px solid $border-color;
        background: $border-color;
        border-radius: 13rem;
        box-sizing: content-box;
        transition: all ease-in-out 0.3s;
        position: absolute;
        top: 0;
        left: 0;
      }

      &::after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        background: $background-primary;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 13rem;
        transition: all ease-in-out 0.3s;
      }


    }

    input[type="checkbox"] {
      display: none;
    }
  }
}


#ship-to-different-address label input[type="checkbox"]:checked+span::before {
  border-color: $link;
  background: $link;
}

#ship-to-different-address label input[type="checkbox"]:checked+span::after {
  left: 17px;
}

/*=================================================;
/* BACK TO SHOP LINK
/*================================================= */
#order_review_heading {
  position: relative;

  .rt-back-to-shop-page {
    font-size: 13px;
    font-weight: 400;
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

/*====================================================
/* THANKPAGE ACTION
/*====================================================*/
.rt-thankpage-action{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  @include media(sm){
    flex-direction: column wrap;
  }
  .rt-btn{
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    @include media(sm){
      margin-right: 0;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}