/**
 * Product Page
 */

/*=================================================;
 /* PRODUCT DETAIL
 /*================================================= */
.rt-product-detail {
  position: relative;
  margin-bottom: 50px;
  @include media(md) {
    margin-bottom: 0;
  }
}

/*=================================================
*  GALLERY
=================================================== */
.rt-product-gallery {
  position: relative;
  width: 100% !important;
  float: none !important;
  @include media(sm) {
    margin-bottom: 30px;
  }
  img {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .onsale {
    display: none;
  }

  &__display {
    margin-top: 0;
    margin-bottom: 10px !important;
  }

  &__thumbnails {
    z-index: 9;
    .swiper-slide-thumb-active {
      .rt-product-gallery-thumbnail {
        border-color: $color-brand;
      }
    }
  }
}

.rt-product-gallery--vertical {
  @include media-min(lg) {
    display: flex;
    flex-flow: row-reverse nowrap;

    .rt-product-gallery {
      &__thumbnails {
        flex: 0 0 100%;
        max-width: $thumbnail-size;
        height: 400px;
        margin-right: 10px !important;
      }
    }

    .swiper-button-prev {
      top: 30px;
      right: 18px !important;
      bottom: auto;
      transform: rotate(90deg);
    }

    .swiper-button-next {
      top: auto;
      right: 18px !important;
      bottom: 20px;
      transform: rotate(90deg);
    }
  }
}

.rt-product-gallery-thumbnail {
  cursor: pointer;
  border-radius: $border-radius;
  overflow: hidden;
  border: 1px solid $border-color;
}

/*=================================================;
 /* SUMMARY
 /*================================================= */
.rt-product-summary {
  .rt-breadcrumbs {
    margin-bottom: 10px;

    @include media(md) {
      margin-right: 80px;
    }
  }
  @include media(md) {
    position: relative;
  }
  @include media-min(md) {
    margin-left: 15px;
    margin-right: 70px;
  }
}

.woocommerce-product-details__short-description {
  margin-bottom: 20px;
}

/*=================================================;
/* BUTTON
/*================================================= */
form.cart,
.rt-sticky-product {
  a.added_to_cart.wc-forward {
    display: none;
  }
}

/*=================================================;
 /* SHARE
 /*================================================= */
.rt-product-share {
  position: absolute;
  top: 0;
  right: 15px;
  text-align: right;

  &__wrapper {
    margin-top: 10px;
    padding: 15px;
    border-radius: var(--theme-border-radius);
    background: var(--theme-background-primary);
    box-shadow: var(--theme-shadow-lg);
  }
  &__title {
    color: $font-color-tertiary;
    font-size: 13px;
  }

  .rt-socmed__item {
    margin-bottom: 0;
  }
}

/*=================================================;
 /* ON SALE
 /*================================================= */
.rt-product-price {
  display: flex;
  align-items: flex-start;

  .onsale {
    position: relative;
    left: 10px;
    bottom: 0;
    top: 5px;
  }
}

/*=================================================;
 /* TITLE
 /*================================================= */
.product {
  .entry-title {
    text-transform: capitalize;
    font-size: clamp(1.4375rem, 0.6597rem + 2.1605vw, 1.875rem);
    margin-bottom: 10px;
  }
}

/*=================================================;
 /* PRICE
 /*================================================= */
.product {
  p.price {
    color: $font-color-primary;
    font-size: rem(21px);
    margin-bottom: 10px;

    @include media(sm) {
      font-size: rem(18px);
    }

    ins {
      font-weight: $font-weight;
      display: inline-block;
      text-decoration: none;
    }

    del {
      opacity: 0.5;
      display: inline-block;
    }
  }
}

/*=================================================;
 /* RATING
 /*================================================= */
.product {
  .woocommerce-product-rating {
    margin-bottom: 10px;

    a {
      color: $font-color-secondary;

      &:hover {
        color: $link-active;
      }
    }
  }
}

/*=================================================;
 /* STOCK
 /*================================================= */
.product {
  p.stock {
    font-size: 0.92em;
  }

  .stock {
    color: $color-info;
  }

  .out-of-stock {
    color: $color-red;
  }
}

/*=================================================;
 /* FORM CART
 /*================================================= */
.product {
  form.cart {
    margin-bottom: 20px;

    @include clearfix();

    div.quantity {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    table {
      border-width: 0 0 1px;

      // td {
      //   padding-left: 0;
      // }

      div.quantity {
        float: none;
        margin: 0;
      }

      small.stock {
        display: block;
        float: none;
      }
    }

    .variations {
      tr {
        position: relative;
      }

      td,
      th {
        border: 0;
        vertical-align: top;
        line-height: 2em;
      }
      .label {
        text-align: left;
      }
      label {
        text-align: left;
        font-weight: $font-weight;
        margin-right: 10px;
        text-transform: capitalize;
      }

      .value {
        display: block !important;
        margin-bottom: 15px;
      }

      select {
        min-width: 100%;
        display: inline-block;
        margin-right: 1em;
      }

      td.label {
        padding-right: 1em;
      }
    }

    .woocommerce-variation-description p {
      margin-bottom: 1em;
    }

    .woocommerce-variation-price {
      display: none;
    }

    .reset_variations {
      visibility: hidden;
      font-size: 0.83em;
    }

    .wc-no-matching-variations {
      display: none;
    }

    .button {
      vertical-align: middle;
      float: left;
    }

    @include media(sm) {
      .button,
      .rt-btn {
        margin-bottom: 10px;
        float: none;
        display: block;
        width: 100%;
      }
    }

    .group_table {
      td.woocommerce-grouped-product-list-item__label {
        padding-right: 1em;
        padding-left: 1em;
      }

      td {
        vertical-align: top;
        padding-bottom: 0.5em;
        border: 0;
      }

      td:first-child {
        width: 4em;
        text-align: center;
      }

      .wc-grouped-product-add-to-cart-checkbox {
        display: inline-block;
        width: auto;
        margin: 0 auto;
        transform: scale(1.5, 1.5);
      }
    }
  }
}

/*=================================================;
 /* META
 /*================================================= */
.product {
  .sku_wrapper,
  .tagged_as,
  .posted_in {
    font-weight: $font-weight;
    display: block;
    font-size: 14px;

    span {
      font-weight: 400;
    }

    a {
      font-weight: 400;
      color: $font-color-secondary;
    }
  }
}

/*=================================================
 *  TABS
 =================================================== */
// Tab Default

// .woocommerce-tabs {
//   position: relative;
//   padding-bottom: 20px;
//   margin-bottom: 30px;

//   ul.tabs {
//     display: flex;
//     justify-content: center;
//     list-style: none;
//     padding: 0;
//     position: relative;
//     margin-bottom: 30px;

//     width: 100vw;
//     position: relative;
//     margin-left: -50vw;
//     left: 50%;

//     border-top: 1px solid $border-color;

//     li {
//       display: inline-block;
//       position: relative;
//       border-radius: 0;
//       margin-right: 30px;
//       text-align: center;
//       border-top: 2px solid transparent;

//       &:last-child {
//         margin-right: 0;
//       }

//       a {
//         font-size: 16px;
//         color: $font-color-secondary;
//         font-weight: 400;
//         display: inline-block;
//         padding: 15px 0;
//         text-decoration: none;

//         &:hover {
//           text-decoration: none;
//           color: $font-color-tertiary;
//         }
//       }

//       &.active {
//         border-color: $color-brand;

//         a {
//           color: $font-color-primary;
//         }
//       }
//     }
//   }
// }

// Tab compact
.rt-product-tabs {
  .rt-tab {
    &__nav {
      display: flex;
      justify-content: center;
      width: 100vw;
      position: relative;
      margin-left: -50vw;
      left: 50%;
      border-top: 1px solid var(--theme-border-color);
      margin-bottom: 30px;
      li {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
          border: none;
        }
      }
    }
    &__title {
      color: var(--theme-font-color-secondary);
      background-color: var(--theme-background-primary);
      border-radius: 0 !important;
      border: none !important;
      padding: 20px 0;
      font-weight: 400;

      &:before {
        height: 3px;
      }

      &.is-active {
        color: var(--theme-font-color-primary);
        &:before {
          top: -2px;
          background-color: var(--theme-color-brand);
        }
      }
    }
    &__body {
      padding: 0;
      border: 0;
    }
    .rt-accordion {
      margin: 0 -15px;
      @include media(md) {
        margin: 0;
        margin-bottom: 1px;
      }
    }
  }
}

.product-template--sidebar-left,
.product-template--sidebar-right {
  .rt-tab {
    &__nav {
      left: 0 !important;
      margin-left: 0 !important;
      width: 100% !important;
    }
  }
}

// Tab container
.single-product:not(.template--compact)
  .rt-product-tabs
  .rt-accordion__content:not(#tab-reviews) {
  @include media-min(md) {
    width: $container-compact;
    margin: 0 auto;
  }
}

/*=================================================
 *  COMMENT LIST
 =================================================== */
.woocommerce-review {
  &__author {
    font-weight: $font-weight;
    text-transform: capitalize;
  }
}

.woocommerce #reviews #comments {
  ol.commentlist {
    padding: 0;

    li {
      img.avatar {
        border: transparent;
        background: transparent;
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }

      .comment-text {
        border: 1px solid $border-color;
        border-radius: $border-radius;
        margin-left: 70px;
      }
    }
  }
}

/*=================================================
 *  COMMENT FORM
 =================================================== */
.woocommerce {
  .woocommerce-Reviews {
    &-title {
      display: none;
    }

    h3.comment-reply-title {
      margin-bottom: 10px !important;
    }

    .comment-form-rating {
      label {
        display: block;
        font-weight: $font-weight;
        margin-bottom: 10px;
      }
    }

    @include media-min(md) {
      .comment-form-author {
        margin-right: 10px !important;
      }

      .comment-wrapper-personal {
        display: flex;
      }

      .comment-form-author,
      .comment-form-email {
        flex: 1;
      }
    }
  }
}

.comment-form-rating .stars a {
  color: $color-orange;
}

/*=================================================;
 /* SINGLE PRODUCT REVIEW
 /*================================================= */

.woocommerce-tabs {
  .woocommerce-Reviews {
    margin-left: -15px;
    margin-right: -15px;

    @include media-min(md) {
      display: flex;
    }

    #comments {
      flex: 1;
      padding-left: 15px;
      padding-right: 15px;
    }

    #review_form_wrapper {
      flex: 1;
      padding-left: 15px;
      padding-right: 15px;
    }

    #review_form {
      border: 1px solid $border-color;
      background-color: $background-secondary;
      padding: 15px;
      margin-bottom: 30px;
      border-radius: $border-radius;
    }
  }
}

/*=================================================;
 /* TABS ATTRIBUTE
 /*================================================= */
.woocommerce-product-attributes {
  box-shadow: none !important;

  p {
    margin: 0;
  }

  tr {
    th {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &-item {
    &__label {
      text-transform: capitalize;
    }
  }
}

/*=================================================;
 /* STICKY PRODUCT
 /*================================================= */
.single-product.product-sticky-action.sticky-product {
  @include media(md) {
    margin-bottom: 61px;
  }
}

.rt-sticky-product {
  visibility: hidden;
  position: fixed;
  z-index: 999;
  left: 0;
  top: -100%;
  right: 0;
  transition: 0.8s;
  background-color: $background-primary;

  .page-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    @include media(md) {
      padding: 10px;
      padding-right: 3px;
    }
  }

  &__item {
    display: flex;
  }

  &__title {
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 0 !important;
  }

  &__price {
    font-size: 12px;

    del {
      opacity: 0.5;
    }

    ins {
      text-decoration: none;
      font-weight: $font-weight;
    }
  }

  &__action {
    display: flex;
    align-items: center;
  }

  .rt-img {
    width: 40px;
    margin-right: 10px;
  }

  .rt-btn,
  .button {
    margin-bottom: 0;
    margin-right: 10px;

    @include media(md) {
      margin-right: 5px;
    }
  }

  &.is-sticky {
    transition: 0.8s;
    box-shadow: $shadow-md;
    visibility: visible;
    top: 0;
  }
}

.rt-sticky-product {
  @include media(md) {
    top: auto !important;
    bottom: -100%;

    &__action {
      width: 100%;
    }

    &__item {
      display: none;
    }

    .rt-btn {
      white-space: normal;
      padding: 10px;
      font-size: 12px;
    }

    .rt-btn--action {
      flex: 1;
    }

    &.is-sticky {
      bottom: 0;
    }
  }
}

/*=================================================;
 /* GOTOP
 /*================================================= */
@include media(md) {
  .single-product.product-sticky-action {
    .rt-gotop {
      bottom: 15px;
    }
  }

  .single-product.product-sticky-action.sticky-product,
  .shop-navbar {
    .rt-gotop {
      transition: 0.8s;
      bottom: 80px;
    }
  }
}
