@import "../../../../assets/source/scss/helpers/_1-variable";
@import "../../../../assets/source/scss/helpers/_3-breakpoint";
@import "../../../../assets/source/scss/helpers/_4-em";
@import "../../../../assets/source/scss/helpers/_5-rem";

@import "../../../../assets/source/scss/layouts/_grid";
/*====================================================
/* RTA
/*====================================================*/
.rta {
  --rta-base-color: #fff;

  --rta-border-color: #c3c4c7;
  --rta-border-radius: 4px;

  --rta-btn-backround: #2271b1;
  --rta-btn-color: #fff;
  --rta-btn-backround-active: #2271b1;
  --rta-btn-color-active: #fff;

  --rta-color-info: #4a90e2;
  --rta-color-info-accent: #eff6ff;
  --rta-color-success: #39945a;
  --rta-color-success-accent: #f0fdf4;
  --rta-color-warning: #ff9900;
  --rta-color-warning-accent: #fefce8;
  --rta-color-danger: #c33e3e;
  --rta-color-danger-accent: #fef2f2;

  --rta-component-spacing: 20px;

  margin-right: 20px;
  @include media(sm) {
    margin-right: 15px;
  }
  /*====================================================
/* RESET BOX
/*====================================================*/
  * {
    box-sizing: border-box;

    &:after,
    &:before {
      box-sizing: border-box;
    }
  }

  /*====================================================
/* TYPO
/*====================================================*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 1.875em;
  }

  p {
    margin-top: 0;
  }

  /*====================================================
  /* GRID
  /*====================================================*/
  .grids {
    display: grid;
    grid-column-gap: var(--rta-component-spacing);
    grid-row-gap: var(--rta-component-spacing);
    @include media(sm) {
      grid-column-gap: calc(var(--rta-component-spacing) / 2);
      grid-row-gap: calc(var(--rta-component-spacing) / 2);
    }
  }
  /*====================================================
/* SITE
/*====================================================*/
  .rta-site {
    &__header {
      margin-bottom: 40px;
    }
    &__title {
      margin-bottom: 10px !important;
    }
  }

  /*====================================================
  /* BUTTON
  /*====================================================*/
  .rta-btn {
    font-size: 13px;
    padding: 8px 10px;
    margin-right: 10px;
    margin-bottom: 0;
    background-color: var(--rta-btn-backround);
    border: 1px solid var(--rta-btn-backround);
    border-radius: var(--rta-border-radius);
    color: var(--rta-btn-color);
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: var(--rta-btn-backround-active);
      border: 1px solid var(--rta-btn-backround-active);
      color: var(--rta-btn-color-active);
      text-decoration: none;
    }
  }

  /*====================================================
  /* FORM
  /*====================================================*/
  .rta-form {
    margin-bottom: 10px;
    &__label {
      display: inline-block;
      font-weight: 500;
      margin-bottom: 5px;
    }
    &__input {
      width: 100%;
      padding: 3px 10px;
      border: 1px solid var(--rta-border-color);
      border-radius: var(--rta-border-radius);
      vertical-align: middle;
      outline: none;
      &:focus {
        box-shadow: 0 0 0 2px var(--rta-color-info) inset;
        border-color: var(--rta-color-info);
      }
    }
  }

  /*====================================================
  /* PANEL
  /*====================================================*/
  .rta-panel {
    border: 1px solid var(--rta-border-color);
    border-radius: var(--rta-border-radius);
    margin-bottom: var(--rta-component-spacing);
    background-color: var(--rta-base-color);
    &__header {
      padding: 15px;
      font-weight: 500;
      border-bottom: 1px solid var(--rta-border-color);
    }
    &__title {
      font-size: 16px;
      margin: 0;
    }
    &__body {
      padding: 15px;
    }
    &__footer {
      padding: 15px;
    }
  }

  /*====================================================
  /* MENUBAR
  /*====================================================*/
  .rta-menubar {
    background-color: var(--rta-color-brand);
  }

  /*====================================================
  /* BADGES
  /*====================================================*/
  .rta-badges {
    display: inline-block;
    font-size: 11px;
    color: #fff;
    border-radius: var(--rta-border-radius);
    background-color: var(--rta-color-info);
    padding: 3px 5px;
    &--success {
      background-color: var(--rta-color-success);
    }
    &--warning {
      background-color: var(--rta-color-warning);
    }
    &--danger {
      background-color: var(--rta-color-danger);
    }
  }

  /*====================================================
  /* ALERT
  /*====================================================*/
  .rta-alert {
    background-color: var(--rta-color-info-accent);
    color: var(--rta-color-info);
    border-radius: var(--rta-border-radius);
    border: 1px solid var(--rta-color-info);
    padding: 15px;
    margin-bottom: var(--rta-component-spacing);
    position: relative;
    &__close {
      color: currentColor;
      position: absolute;
      top: 15px;
      right: 15px;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    .rt-icon {
      color: inherit;
    }
    a {
      font-weight: bold;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .rta-alert--info {
    background-color: var(--rta-color-info-accent);
    border-color: var(--rta-color-info);
    color: var(--rta-color-info);
  }
  .rta-alert--success {
    background-color: var(--rta-color-success-accent);
    border-color: var(--rta-color-success);
    color: var(--rta-color-success);
  }
  .rta-alert--warning {
    background-color: var(--rta-color-warning-accent);
    border-color: var(--rta-color-warning);
    color: var(--rta-color-warning);
  }
  .rta-alert--danger {
    background-color: var(--rta-color-danger-accent);
    border-color: var(--rta-color-danger);
    color: var(--rta-color-danger);
  }

  /*====================================================
  /* MENU BAR
  /*====================================================*/
  .rta-theme-menu {
    background-color: #0073aa;
    font-size: 14px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
    ul {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      align-items: center;
    }
    li {
      margin: 0;
    }
    a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      padding: 15px;
      border: none;
      &:hover {
        background-color: #1896d2;
      }
    }
    li.is-active {
      a {
        background-color: #1896d2;
      }
    }
  }

  /*====================================================
  /* ICON
  /*====================================================*/
  .rt-icon {
    svg {
      width: 1em;
      height: 1em;
      display: inline-block;
      vertical-align: -0.125em;
      fill: currentcolor;
    }
  }
}
