body{
    --theme-color-1: #5733ce; // site color, brand, links
    --theme-color-2: #5136d8; // site:active, brand:active, links:active
    --theme-color-3: #222733; // heading color
    --theme-color-4: #6e7175; // body color
    --theme-color-5: #9da0a5; // meta color
    --theme-color-6: #ffffff; // site background
    --theme-color-7: #f9f9f9; // content background
    --theme-color-8: #f4f4f7; // border color

    --theme-color-brand: var(--theme-color-1);
    --theme-color-brand-secondary: var(--theme-color-2);

    --theme-background-primary: var(--theme-color-6);
    --theme-background-secondary: var(--theme-color-7);

    --theme-font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --theme-font-family-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --theme-font-weight: bold;

    --theme-font-color-primary: var(--theme-color-3);
    --theme-font-color-secondary: var(--theme-color-4);
    --theme-font-color-tertiary: var(--theme-color-5);

    --theme-color-link: var(--theme-color-1);
    --theme-color-link-active: var(--theme-color-2);

    --theme-border-color: var(--theme-color-8);
    --theme-border-radius: 5px;

    --theme-color-highlight: #fd704f;
    --theme-color-overlay: rgba(0, 0, 0, 0.82);

    --theme-shadow-sm: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    --theme-shadow-md: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.2rem rgba(0, 0, 0, 0.1);
    --theme-shadow-lg: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 1.5rem 2.2rem rgba(0, 0, 0, 0.1);
    --theme-shadow-sticky: -2px 3px 90px -20px rgba(0, 0, 0, .25);

    --theme-btn-primary-color: #fff;
    --theme-btn-primary-color-active: #fff;
    --theme-btn-primary-background: var(--theme-color-1);
    --theme-btn-primary-background-active: var(--theme-color-2);

    --theme-btn-action-color: #fff;
    --theme-btn-action-color-active: #fff;
    --theme-btn-action-background: #56a211;
    --theme-btn-action-background-active: #0ab70c;

    --theme-container-sm: 540px;
    --theme-container-md: 720px;
    --theme-container-lg: 960px;
    --theme-container-xl: 1140px;
    --theme-container-compact: 790px;
}

@import "settings/_variable.scss";
@import "mixin/**/*scss";
@import "base/**/*scss";
@import "modules/**/*scss";

/**
 * WooCommerce
 * Set global WooCommerce styles
 */
@import "woocommerce/helpers/**/*scss";
@import "woocommerce/globals/**/*scss";

/**
 * Gutenberg container
 */
.wp-block{
    max-width: var(--theme-container-xl);
}
.wp-block[data-align="full"] {
    max-width: none;
    margin: 0!important;
}
/**
 * h1, h2, h3, h4, h5, h6
 */
.editor-post-title__block .editor-post-title__input {
    font-style: var(--theme-font-style-primary);
    line-height: var(--theme-line-height-primary);
    text-transform: var(--theme-transform-primary);
    color: var(--theme-font-color-primary);
    text-align: center;
}

body {
    color: var(--theme-font-color-secondary);
    font-family: var(--theme-font-family-secondary);
    font-size: var(--theme-font-size-secondary);
    font-style: var(--theme-font-style-secondary);
    line-height: var(--theme-line-height-secondary);
    text-transform: var(--theme-text-transform-secondary);
    background-color: var(--theme-background-primary);
}