@use "sass:math";
@import "settings/_variable.scss";
@import "mixin/**/*scss";

/*=================================================
*  GRID MASONRY
=================================================== */
.grid-masonry {
    margin-right: -$grid-spacing;
    @include media(sm){
      margin-right: -15px;
    }
    @each $breakpoint in map-keys($breakpoints) {
      @include media-min($breakpoint) {
        @for $i from 1 through $grid-columns {
          &.grids-#{$breakpoint}-#{$i} {
            $column: math.div(100%, $i);
            .post-item {
              width: calc(#{$column} - #{$grid-spacing});
              @include media(sm){
                width: calc(#{$column} - 15px);
              }
            }
          }
        }
      }
    }
  
    .post-item {
      margin-right: $grid-spacing;
      margin-bottom: $grid-spacing;
      @include media(sm){
        margin-right: 15px;
        margin-bottom: 15px;
      }
      height: auto !important;
    }
  
  }
  