/*=================================================
*  CONTAINER
=================================================== */
@each $container_key,
$container in $containers {
    @include media-min($container_key) {
        .page-container,
        .page-template-full .wp-block-group__inner-container,
        .page-template-no-sidebar .wp-block-group__inner-container{
            max-width: $container;
        }
    }
}

.page-container,
.page-template-full .wp-block-group__inner-container,
.page-template-no-sidebar .wp-block-group__inner-container {
    padding-left: $grid-gap;
    padding-right: $grid-gap;
    margin-left: auto;
    margin-right: auto;
}

