.page-footer {
  &__widget {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: $background-primary;
    border-top: 1px solid $border-color;
  }
  &__bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    color: $font-color-secondary;
    background-color: $background-primary;
    border-top: 1px solid $border-color;
    .page-container {
      @include media-min(sm) {
        display: flex;
        flex-grow: row wrap;
        justify-content: space-between;
      }
      @include media(sm) {
        > span,
        > div,
        > ul {
          margin-bottom: 10px;
          display: block;
        }
      }
    }
  }
}

/*=================================================;
/* FOOTER - STYLE
/*================================================= */
.page-footer--style-4 {
  .page-footer__widget {
    text-align: center;
    .rt-widget {
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .widget_media_image img {
      margin: 0 auto;
    }
    .textwidget {
      @include media-min(md) {
        width: 540px;
        margin: 0 auto;
      }
    }
    .rt-socmed {
      justify-content: center;
    }

    // widget menu horizontal
    .widget_nav_menu ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style: disc;
      line-height: 1;
      li {
        display: inline-block;
        margin-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: -7px;
          top: 50%;
          transform: translateY(-50%);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: var(--theme-font-color-tertiary);
          transition: all 0.3s ease;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
  }
}

/*=================================================;
/* FOOTER - ALIGN
/*================================================= */
.page-footer--center {
  .page-footer__widget {
    text-align: center;
    .rt-socmed,
    .rt-img-list {
      justify-content: center;
    }
  }
}
