.page-aside {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 100%;
  max-width: 100%;

  @include media-min(md) {
    flex: 0 0 $sidebar-width;
    max-width: $sidebar-width;
    margin-left: 30px;
  }
}

.page-sidebar-left,
.template--sidebar-left {
  @include media-min(md) {
    .page-content {
      order: 2;
    }

    .page-aside {
      order: 1;
      margin-left: 0;
      margin-right: 30px;
    }
  }

}

// sidebar hidden on mobile
.page-aside-mobile-hidden {
  .page-aside {
    @include media(md) {
      display: none;
    }
  }
}
