body {
  background: $background-primary;
}

.template--fluid {
  .page-container {
    max-width: 100%;
  }
}

// tempate for builder
.template--builder-container {
  .page-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-wrapper {
    padding: 0;
  }
}
/*=================================================;
/* FOCUS
/*================================================= */
.ptf-wrapper {
  .page-container {
    @include media-min(sm) {
      max-width: 490px;
    }
    @include media-min(lg) {
      max-width: 960px;
    }
  }
}
.ptf-header {
  background-color: $background-primary;
  height: 60px;
  border-bottom: 1px solid $border-color;
  .page-container {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
  }

  .rt-logo {
    max-width: 180px;
  }
}
.ptf-body {
  padding-top: 30px;
  padding-bottom: 30px;
  .page-container {
    min-height: calc(100vh - 250px);
  }
}
.ptf-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $border-color;
  text-align: center;
}
/*=================================================;
/* HOME
/*================================================= */
.home-section {
  padding-top: 40px;
  padding-bottom: 40px;
  @include media(md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .rt-swiper{
    margin-bottom: 0 !important;
  }
  .rt-swiper--card{
    margin-bottom: -30px !important;
  }
  .rt-header-block{
    margin-bottom: 30px;
    @include media(sm){
      margin-bottom: 20px;
    }
  }

  &.background-secondary {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $background-secondary;
  }

  &:first-of-type{
    border-top: none;
  }
  &:last-of-type{
    border-bottom: none;
  }
  
}

