/*=================================================
*  PAGE HEADER
=================================================== */
.page-header {
    .page-header__title {
        margin-bottom: 5px;
    }
    .rt-breadcrumbs{
        display: inline-block;
        margin-bottom: 10px;
    }
}

.page-header--above{
    background-color: $background-secondary;
    border-bottom: 1px solid $border-color;
    padding-top: 15px;
    padding-bottom: 35px;
}
.page-header--in-content{
    margin-bottom: 40px;
}