.page-wrapper {
  padding-top: 40px;
  padding-bottom: 60px;

  @include media(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.page-row {
  margin-left: -$grid-gap;
  margin-right: -$grid-gap;
}

.page-content {
  @include media-min(md) {
    flex: 1;
  }
  min-width: 0;
  min-height: 570px;
  width: 100%;
  padding-left: $grid-gap;
  padding-right: $grid-gap;
}