$background-primary: #3B3A3B;
$background-secondary: #605F61;
$border-color: #282729;
$border-radius: 3px;
$shadow-sm: 0 0 5px 0 rgba(0, 0, 0, .2);
$color-brand-primary: #24AEE9;
$color-brand-secondary: #19B3F5;
$font-color-primary: #ffffff;
$font-color-secondary: #ECECEC;

$navbar-background-primary: #5D5A5C;
$navbar-background-secondary: #828182;
$navbar-color-primary:#D4D4D4;
$navbar-color-secondary:#ffffff;

$column-background-primary:#F4F3F4;
$column-background-secondary: #a1a1a1;

$source-background: #222222;

#header-builder-open{
	display: none;
}
.expanded #header-builder-open{
	display: block;
}
.is-active .rt-builder {
    bottom: 0;
}
.rt-builder {
	z-index: 999;
	position: fixed;
	right: 0;
	bottom: 30px;
	left: 0;
	background: $background-primary;
	box-shadow: $shadow-sm;
	cursor: pointer;
	transition-property: left, right, top, bottom, width, margin;
	transition-duration: .2s;
	.rt-builder-element {
		position: relative;
		font-size: 12px;
		background-color: $background-secondary;
		line-height: 28px;
		padding: 0 8px;
		margin-right: 5px;
		margin-bottom: 5px;
		color: $font-color-secondary;
		border-radius: 3px;

		.p-icon {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			display: inline-block;
			line-height: 28px;
			width: 28px;
			text-align: center;
			margin-right: 8px;
			background-color: $background-primary;
			margin-left: -8px;
			margin-top: -8px;
		}
		.p-close {
			display: none;
			position: absolute;
			width: 20px;
			line-height: 20px;
			background: orange;
			text-align: center;
			top: -10px;
			right: -10px;
			color: $font-color-primary;
			border-radius: 100px;
			z-index: 999;
			cursor: pointer;
		}
		&:hover,
		&:focus,
		&:active {
			z-index: 11;
			.p-close {
				display: block;
			}
		}
	}
}
.rt-builder__header {
	background: $background-primary;
	padding: 10px 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.rt-builder__title {
	color: $font-color-primary;
	font-size: 16px;
	margin: 0;
	color: $font-color-secondary;
}
.rt-builder__display {
	margin-right: -7px;
	a {
		background: $background-secondary;
		line-height: 25px;
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		color: $font-color-primary;
		border-radius: 100px;
		margin-right: 7px;
		text-decoration: none !important;
	}
	a.is-active {
		background: $color-brand-primary;
	}
}
.rt-builder__nav {
	background: $background-secondary;
	padding: 15px !important;
	padding-bottom: 0 !important;
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	li {
		padding: 5px 10px;
		font-size: 14px;
		background: $navbar-background-primary;
		border: 1px solid $background-primary;
		border-right-color: $border-color;
		border-right-color: transparent;
		cursor: pointer;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 0;
		a {
			color: $navbar-color-primary;
			text-decoration: none;
			&:focus {
				box-shadow: none;
			}
		}
		&:hover {
            
			background:  $navbar-background-secondary;
			a {
				color: $navbar-color-secondary;
			}
		}
		&:first-child {
			border-top-left-radius: 3px;
		}
		&:last-child {
			border-top-right-radius: 3px;
			border-right-color: $background-primary;
		}
	}
	li.is-active {
		background: #828182;
		a {
			color: $font-color-primary;
		}
	}
	li.ui-tabs-active {
		background: #828182;
		a {
			color: $font-color-primary;
		}
	}
}
.rt-builder__body {
	padding: 15px;
}
.rt-builder__row {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
	border: 1px solid transparent;
	border-top-left-radius: 0;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	&:hover {
		border-color: $color-brand-primary;
		.rt-builder__row-title {
			display: block;
		}
	}
}
.rt-builder__column {
	position: relative;
	padding: 0 7px;
	display: flex;
	align-content: stretch;
	flex: 1;
	.js-builder-connect {
		width: 100%;
		background: $column-background-primary;
		min-height: 35px;
		border: 1px solid $column-background-primary;
		border-radius: 3px;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		padding: 7px 2px 2px 7px;
	}
	.setting {
		display: none;
		position: absolute;
		top: 0;
		right: 7px;
		background: $color-brand-primary;
		color: $font-color-primary;
		width: 23px;
		line-height: 23px;
		text-align: center;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 3px;
		cursor: pointer;
		z-index: 9;
	}
	&:hover {
		.js-builder-connect {
			border-color: $color-brand-primary;
		}
		.setting {
			display: block;
		}
	}
}
.disable {
	.rt-builder__column {
		.sortable-wrapper {
			background: $column-background-secondary;
			border: 1px solid $column-background-secondary;
		}
	}
}
.rt-builder__column--drawer {
	width: 48%;
	.sortable-wrapper {
		display: block;
	}
}
.rt-builder__column--drawer-source {
	.sortable-wrapper {
		background: $source-background;
		border-color: $source-background;
	}
	.rt-builder-element {
		&:hover {
			.p-close {
				display: none !important;
			}
		}
	}
}
.rt-builder__notif {
	background-color: $color-brand-primary;
	color: #fff;
	padding: 10px 15px;
	a {
		text-decoration: underline;
		color: #fff;
		font-weight: bold;
	}
}
.rt-builder__footer {
	background: $background-secondary;
	padding: 15px;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.rt-builder__device {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	color: $font-color-secondary;
	margin-left: -5px;
	margin-right: -5px;
	li {
		position: relative;
		padding-left: 5px;
		padding-right: 5px;
		&:before {
			position: absolute;
			height: 3px;
			bottom: 0;
			right: 100px;
			left: 100px;
			content: "";
			background: $color-brand-primary;
		}
	}
	li.is-active {
		&:before {
			visibility: visible;
			right: 0;
			left: 0;
		}
	}
}
.rt-builder__hide {
	color: $font-color-secondary;
}
.rt-builder__row-title {
	display: none;
	position: absolute;
	left: -1px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: $color-brand-primary;
	color: $font-color-primary;
	z-index: 9;
	top: -22px;
	font-size: 14px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.rt-builder__row--source {
	background: $source-background;
	padding: 15px;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -15px;
	margin-top: 15px;
	&:hover {
		border-color: transparent !important;
		.sortable-wrapper {
			border-color: transparent;
		}
	}
	.sortable-wrapper {
		background: transparent;
		border-color: transparent;
	}
	.rt-builder__column {
		padding: 0;
	}
	.rt-builder-element {
		box-shadow: 0px 3px 8px 0px rgba(2, 2, 2, 0.16);
		&:hover {
			.p-close {
				display: none !important;
			}
		}
	}
}
.rt-builder-setting {
	min-width: 340px;
	display: none;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -127px;
	right: 10px;
	padding: 10px;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	background: $font-color-secondary;
	border: 1px solid #ABABAB;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	z-index: 99;
	&:before {
		content: "";
		width: 15px;
		height: 15px;
		background: $font-color-secondary;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		border: 1px solid #ABABAB;
		border-top-color: transparent;
		border-left-color: transparent;
		bottom: -7px;
		right: 5px;
		position: absolute;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		li {
			color: #333333;
			padding: 5px 10px;
			margin-right: 7px;
			background: $font-color-secondary;
			border: 1px solid #98A4A5;
			border-radius: 3px;
			cursor: pointer;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background-color: $color-brand-primary;
				border-color: $color-brand-primary;
				color: $font-color-primary;
				box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);
			}
		}
		li.is-active {
			background-color: $color-brand-primary;
			border-color: $color-brand-primary;
			color: $font-color-primary;
			box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);
		}
	}
}
.rt-builder-setting__item {
	border: 1px solid #ABABAB;
	background: $font-color-primary;
	border-radius: 3px;
	&:last-child {
		margin-right: 0;
	}
}
.rt-builder-setting__title {
	margin: 0;
	padding: 5px 10px;
	text-align: center;
	color: $font-color-primary;
	background: $background-primary;
	margin: -1px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.rt-builder-setting__body {
	padding: 10px !important;
}
.rt-builder-setting__alignment {
	margin-right: 15px;
}
.rt-editor__column.right {
	.rt-setting {
		right: 0;
		left: auto;
		&::before {
			right: 15px !important;
			left: auto !important;
		}
	}
}
[data-display=grow] {
	-webkit-flex: 2;
	-moz-box-flex: 2;
	flex: 2;
}
[data-alignment=left] {
	>.sortable-wrapper {
		-webkit-justify-content: left;
		-moz-box-pack: left;
		justify-content: left;
	}
}
[data-alignment=center] {
	>.sortable-wrapper {
		-webkit-justify-content: center;
		-moz-box-pack: center;
		justify-content: center;
	}
}
[data-alignment=right] {
	>.sortable-wrapper {
		-webkit-justify-content: right;
		-moz-box-pack: right;
		justify-content: right;
	}
}
[data-alignment=justify] {
	>.sortable-wrapper {
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		justify-content: space-between;
	}
}
.rt-builder-element {
	transition: .2s;
	cursor: pointer;
	.fa-cog {
		visibility: hidden;
		width: 0;
	}
	&:hover {
		.fa-cog {
			visibility: visible;
			width: auto;
			transition: .3s;
			margin-left: 5px;
		}
	}
}
.divender-1 {
	.fa-cog {
		display: none;
	}
}
.divender-2 {
	.fa-cog {
		display: none;
	}
}
.divender-3 {
	.fa-cog {
		display: none;
	}
}
.divender-4 {
	.fa-cog {
		display: none;
	}
}
.divender-5 {
	.fa-cog {
		display: none;
	}
}
.search-icon {
	.fa-cog {
		display: none;
	}
}
.cart-icon {
	.fa-cog {
		display: none;
	}
}
