// .retheme-root {
//   --theme-color-1: #5733ce; // site color, brand, links
//   --theme-color-2: #5136d8; // site:active, brand:active, links:active
//   --theme-color-3: #222733; // heading color
//   --theme-color-4: #6e7175; // body color
//   --theme-color-5: #9da0a5; // meta color
//   --theme-color-6: #ffffff; // site background
//   --theme-color-7: #f9f9f9; // content background
//   --theme-color-8: #f4f4f7; // border color

//   --theme-color-brand: var(--theme-color-1);
//   --theme-color-brand-secondary: var(--theme-color-2);

//   --theme-background-primary: var(--theme-color-6);
//   --theme-background-secondary: var(--theme-color-7);

//   --theme-font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI",
//     Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//     "Segoe UI Symbol";
//   --theme-font-family-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI",
//     Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//     "Segoe UI Symbol";
//   --theme-font-weight: bold;

//   --theme-font-color-primary: var(--theme-color-3);
//   --theme-font-color-secondary: var(--theme-color-4);
//   --theme-font-color-tertiary: var(--theme-color-5);

//   --theme-color-link: var(--theme-color-1);
//   --theme-color-link-active: var(--theme-color-2);

//   --theme-border-color: var(--theme-color-8);
//   --theme-border-radius: 5px;

//   --theme-color-highlight: #fd704f;
//   --theme-color-overlay: rgba(0, 0, 0, 0.82);

//   --theme-shadow-sm: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
//   --theme-shadow-md: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.05),
//     0 0.5rem 1.2rem rgba(0, 0, 0, 0.1);
//   --theme-shadow-lg: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05),
//     0 1.5rem 2.2rem rgba(0, 0, 0, 0.1);
//   --theme-shadow-sticky: -2px 3px 90px -20px rgba(0, 0, 0, 0.25);

//   --theme-btn-primary-color: #fff;
//   --theme-btn-primary-color-active: #fff;
//   --theme-btn-primary-background: var(--theme-color-1);
//   --theme-btn-primary-background-active: var(--theme-color-2);

//   --theme-btn-action-color: #e8e8e9;
//   --theme-btn-action-color-active: #e8e8e9;
//   --theme-btn-action-background: #56a211;
//   --theme-btn-action-background-active: #0ab70c;

//   --theme-badges-color: #fff;
//   --theme-badges-background: var(--theme-color-1);

//   --theme-container-sm: 540px;
//   --theme-container-md: 720px;
//   --theme-container-lg: 960px;
//   --theme-container-xl: 1140px;
//   --theme-container-compact: 790px;
// }

// /*=================================================;
// /* SCHEMA 2
// /*================================================= */
// .retheme-schema-dark,
// .rt-search,
// .rt-header .rt-menu__submenu,
// .page-footer__widget,
// .page-footer__bottom,
// .rt-main-canvas-menu--dark {
//   --theme-background-primary: #1c1c1f;
//   --theme-background-secondary: #161617;

//   --theme-font-color-primary: #e8e8e9;
//   --theme-font-color-secondary: rgba(255, 255, 255, 0.6);
//   --theme-font-color-tertiary: rgba(255, 255, 255, 0.4);

//   --theme-color-link: var(--theme-font-color-secondary);
//   --theme-color-link-active: var(--theme-font-color-primary);

//   --theme-border-color: rgba(255, 255, 255, 0.06);
// }
