$gray-1: #f8f9fa;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #6c757d;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;

$color-red: #ff6c5f;
$color-ping: #e83e8c;
$color-orange: #fd704f;
$color-yellow: #ffc168;
$color-brown: #4b402f;
$color-cyan: #17a2b8;
$color-teal: #20c997;
$color-green: #4ed199;
$color-purple: #6f42c1;
$color-indigo: #6610f2;
$color-blue: #4b23f7;
$color-highlight: var(--theme-color-highlight);

$color-base: #fff;

$font-family-primary: var(--theme-font-family-primary);
$font-family-secondary: var(--theme-font-family-secondary);
$font-size: 14px;

$font-color-primary: var(--theme-font-color-primary);
$font-color-secondary: var(--theme-font-color-secondary);
$font-color-tertiary: var(--theme-font-color-tertiary);

$background-primary: var(--theme-background-primary);
$background-secondary: var(--theme-background-secondary);

$color-brand: var(--theme-color-brand);
$color-brand-secondary: var(--theme-color-brand-secondary);

$color-info: #4a90e2;
$color-info-lighter: lighten($color-info, 35%);
$color-success: #20c997;
$color-success-lighter: lighten($color-success, 45%);
$color-warning: #ff9900;
$color-warning-lighter: lighten($color-warning, 45%);
$color-danger: #ff6c5f;
$color-danger-lighter: lighten($color-danger, 25%);

$link: var(--theme-color-link);
$link-active: var(--theme-color-link-active);
$link-visited: var(--theme-color-link-active);
$link-focus: var(--theme-color-link-active);
$link-active: var(--theme-color-link-active);

$color-overlay: var(--theme-color-overlay);

$border-width: 1px;
$border-radius: var(--theme-border-radius);
$border-color: var(--theme-border-color);

$breakpoints-xs: 320px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

$shadow-sm: var(--theme-shadow-sm);
$shadow-md: var(--theme-shadow-md);
$shadow-lg: var(--theme-shadow-lg);
$shadow-sticky: var(--theme-shadow-sticky);


/*=================================================
*  GRID
=================================================== */
$grid-spacing: 30px;
$grid-gap: 15px;
$grid-columns: 12;

$thumbnail-size: 70px;

/*=================================================
*  BREAKPOINTS
=================================================== */
$breakpoints: (
  xs: $breakpoints-xs,
  sm: $breakpoints-sm,
  md: $breakpoints-md,
  lg: $breakpoints-lg,
  xl: $breakpoints-xl,
);

/*=================================================
*  CONTAINERS
=================================================== */
$containers: (
  xs: auto,
  sm: var(--theme-container-sm),
  md: var(--theme-container-md),
  lg: var(--theme-container-lg),
  xl: var(--theme-container-xl),
);

$container-compact: var(--theme-container-compact);
$sidebar-width: var(--theme-sidebar-width, 285px);

/*=================================================
*  FONT
=================================================== */
/* Font Weight */
$font-weight: var(--theme-font-weight);

/* Font Size */
$headings: (
  h1: 2.488rem,
  h2: 2.074rem,
  h3: 1.728rem,
  h4: 1.44rem,
  h5: 1.2rem,
  h6: 1rem,
);
$headings-sm: (
  h1: 1.802rem,
  h2: 1.602rem,
  h3: 1.424rem,
  h4: 1.266rem,
  h5: 1.125rem,
  h6: 1rem,
);

/*=================================================
*  SOCIAL MEDIA
=================================================== */
$sosmed: (facebook: #3b5998,
  fbmessager: #0084ff,
  twitter: #1da1f2,
  instagram: #125688,
  google-plus: #dd4b39,
  linkedin: #007bb5,
  pinterest: #cb2027,
  youtube: #b00,
  rss: #faa33d,
  vimeo: #35c6ea,
  dribbble: #f7659c,
  skype: #13c1f3,
  wordpress: #2592c3,
  behance: #1879fd,
  dropbox: #17a3eb,
  soundcloud: #ff7e30,
  tumblr: #426d9b,
  github: #3f91cb,
  whatsapp: #25d366,
  telegram: #0088cc,
  bbm: #333333,
  phone: #cc3333,
  email: #6c757d,
);

/*=================================================;
/* HEADER
/*================================================= */
$header-height: var(--theme-header-height, 70px);

/*=================================================
*  MENUBAR
=================================================== */
$menubar-height: var(--theme-menubar-height, $header-height);
$menubar-spacing: var(--theme-menubar-spacing, 15px);
$menubar-submenu-height: var(--theme-menubar-submenu-height, 38px);
$menubar-submenu-width: var(--theme-menubar-submenu-height, 220px);

/*=================================================
*  MENU VERTICAL
=================================================== */
$menu-height: 40px;

/*=================================================
*  MAIN SEARCH
=================================================== */
$search-height: 70px;

/*=================================================;
/* BUTTON
/*================================================= */
$btn-primary-color: var(--theme-btn-primary-color);
$btn-primary-color-active: var(--theme-btn-primary-color-active);
$btn-primary-background: var(--theme-btn-primary-background);
$btn-primary-background-active: var(--theme-btn-primary-background-active);

$btn-action-color: var(--theme-btn-action-color);
$btn-action-color-active: var(--theme-btn-action-color-active);
$btn-action-background: var(--theme-btn-action-background);
$btn-action-background-active: var(--theme-btn-action-background-active);