.woocommerce .tawcvs-swatches{
    margin: 0!important;
    .swatch-item-wrapper{
        margin-bottom: 0!important;
    }
}
.woocommerce .tawcvs-swatches .swatch::before, 
.woocommerce .tawcvs-swatches .swatch-show-more::before{
    border-color: $border-color;
}