/*=================================================;
/* POPUP NOTIF
/*================================================= 
* suport if mobile navbar and button sticky product */
.wsb-sales-notif {
    @include media(sm) {
        bottom: 70px;
    }
}

.single-product {
    .wsb-sales-notif {
        @include media(sm) {
            bottom: 10px;
        }
    }
}

.single-product.sticky-product {
    .wsb-sales-notif {
        @include media(sm) {
            bottom: 80px;
        }
    }
}