// compatible
/*=================================================;
/* WHATSAPP CHECKOUT
/*================================================= */
.rt-product-summary {
  .rt-btn--whatsapp {
    margin-bottom: 10px;
  }
}

.single-product.whatsapp-checkout {
  .rt-product-summary {
    form.cart:not(.variations_form),
    .woocommerce-variation-add-to-cart {
      display: flex;
      flex-direction: column;
    }
  }
}

.single-product.whatsapp-checkout.product-template--normal {
  .rt-product-summary {
    form.cart:not(.variations_form),
    .woocommerce-variation-add-to-cart {
      @include media-min(lg) {
        margin-right: 120px;
      }
    }
  }
}


/*=================================================;
/* TOPUP
/*================================================= */
.whatsapp-chat {
  .rt-gotop {
    bottom: 80px;
    right: 28px;
  }
}


@include media(md) {
  .whatsapp-chat {
    .rt-gotop {
      right: 22px;
    }
  }
}

/*=================================================;
/* ICON
/*================================================= */
@include media(md) {
  .single-product.product-sticky-action .wwc-chat__icon {
    display: none !important;
  }
}

/*=================================================;
/* WHATSAPP BASIC
/*================================================= */
.wwc-chat {
  &__icon {
    box-shadow: $shadow-md;
  }

  &__box {
    box-shadow: $shadow-lg;
  }
}


/*=================================================;
/* Whatsapp checkout message
/*================================================= */
.wwc-checkout-message {
  background-color: $background-secondary;
  border-color: $border-color;
}

/*=================================================;
/* ACTION
/*================================================= */
.wwc-chat-widget-action {
  display: none;
  font-size: 10px;
  margin-right: 10px;
  color: $font-color-secondary;

  i {
    text-align: center;
    font-size: 16px;
    display: block;
  }
}

@include media(md) {
  .whatsapp-checkout .wwc-chat-widget-action {
    display: block;
  }
}