#yith-quick-view-content .product {
   display: flex;
   flex-flow: row wrap;
   .rt-product-gallery {
      max-width: 50%;
      @media (max-width: 480px) {
         max-width: 100%;
      }
   }
   div.summary {
      max-width: 50%;
      @media (max-width: 480px) {
         max-width: 100%;
      }
   }
   .rt-product-gallery__display {
      margin: 0 !important;
   }
   .swiper-wrapper {
      overflow-y: auto;
      a {
         pointer-events: none;
         cursor: grab;
      }
      .swiper-slide {
         margin-right: 10px;
      }
   }
}
.yith-wcqv-wrapper {
   @media (min-width: 480px) {
      height: auto !important;
   }
}
#yith-quick-view-modal .yith-wcqv-main {
   box-shadow: none !important;
}

//remove button on body
.rt-product--overlay-btn {
   .yith-wcqv-button:not(.rt-product__btn) {
      display: none;
   }
}

/*=================================================;
/* WISHLIST
/*================================================= */
.woocommerce table.wishlist_table {
   font-size: 1rem;
}
.woocommerce table.wishlist_table thead th,
.woocommerce table.wishlist_table tbody td {
   padding: 8px !important;
}
.yith-wcqv-button {
   color: $color-base;
}
.yith-wcwl-add-to-wishlist {
   margin-top: 10px;
   margin-bottom: 20px;
}

.rt-product--card.rt-product--overlay-btn {
   .yith-wcwl-add-to-wishlist {
      position: relative;
      margin-top: -15px;
      z-index: 9;
   }
}
