.rt-alert{
  border-radius: $border-radius;
  padding: 15px;
  position: relative;
  margin-bottom: 20px;
  background-color: $background-secondary;
  &__close {
    position: absolute;
    top: 0;
    right: 15px;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  i{
    color: inherit;
  }
  a{
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}

.rt-alert--info{
  background-color: $color-info-lighter;
  color: $color-info;
}
.rt-alert--success{
  background-color: $color-success-lighter;
  color: $color-success;
}
.rt-alert--warning{
  background-color: $color-warning-lighter;
  color: $color-warning;
}
.rt-alert--danger{
  background-color: $color-danger-lighter;
  color: $color-danger;
}