.rt-author-box {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid $border-color;
  padding: 15px;
 
  border-radius: $border-radius;
  margin-bottom: $grid-spacing;
  &__body{
    flex: 1;
  }
  &__thumbnail {
    margin-right: 15px;
    width: $thumbnail-size !important;
    height: $thumbnail-size;
    border-radius: 100%;
    margin-bottom: 15px;
    border: 3px solid $border-color;
  }
  &__title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    a {
      color: $font-color-primary;
    }
  }
  &__position {
    color: $font-color-tertiary;
    margin-bottom: 15px;
    font-size: 12px;
  }
  &__content {
    margin-bottom: 15px;
  }
}
