.rt-badges {
  a {
    display: inline-block;
    background-color: var(--theme-badges-background);
    color: var(--theme-badges-color);
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: var(--theme-border-radius);
    margin-bottom: 5px;
    line-height: 1;
    font-size: 11px;
  }
}
