.rt-gotop {
  transition: .3s;
  font-size: 14px;
  z-index: 95;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 37px;
  height: 37px;
  line-height: 35px;
  text-align: center;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.38);
  color: #e8e8e9;
  display: none;
  cursor: pointer;
  .rt-icon {
    margin-right: 0;
  }
  &:hover {
    color: #e8e8e9;
    background-color: $color-brand;
  }
  &.is-active {
    display: block;
  }
}
