.rt-header-block {
    position: relative;
    margin-bottom: $grid-spacing;
    &__desc{
        font-size: 16px;
    }

    &__nav {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

    }

    &-block__prev {
        background-color: $background-primary;
        display: inline-block;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        margin-right: 3px;
        line-height: 28px;
        width: 28px;
        text-align: center;
        color: $font-color-tertiary;

        &:hover {
            border-color: $color-brand;
            color: $color-brand;
        }

        &.is-disable,
        &.swiper-button-disabled {
            background-color: $background-secondary;
            cursor: default;

            &:hover {
                border-color: $border-color;
                color: $font-color-tertiary;
            }
        }
    }
}

.rt-header-block--center{
    text-align: center;
}