.rt-loading{
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $background-primary;
        opacity: .5;
        z-index: 98;
    }
    &:after{
        height: 1.5em;
        width: 1.5em;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -.5em;
        margin-top: -.5em;
        content: '';
        background: url(../img/spiner.svg) center center;
        background-size: auto;
        background-size: cover;
        line-height: 1;
        text-align: center;
        font-size: 2em;
        z-index: 99;
        opacity: .5;
    }
}