.rt-pagination {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    .page-numbers {
        display: inline-block;
        min-width: 31px;
        height: 31px;
        text-align: center;
        line-height: 31px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 11px;
        border-radius: $border-radius;
        border: 1px solid transparent;
        margin-right: 5px;
        background-color: $background-primary;
        color: $font-color-primary;
        border-color: $border-color;

        i {
            line-height: inherit;
        }

        &:hover {
            color: $color-base;
            background-color: $color-brand;
            border-color: $color-brand;
            text-decoration: none;
        }

        &.current {
            background-color: $color-brand;
            color: $color-base;
            border-color: $color-brand;
        }
    }

    &__spinner {
        display: none;
        color: $background-secondary;
    }

    &__button {
        display: block;
    }
}

/*=================================================
*  LOADMORE
=================================================== */
.rt-pagination--loadmore {
    display: flex;
    justify-content: center;
}