.rt-panel {
    overflow: hidden;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin-bottom: $grid-spacing;

    &__header {
        padding: 10px 15px;
        border-bottom: 1px solid $border-color;
        background-color: $background-secondary;
    }

    &__title {
        margin: 0;
        font-size: 16px;
    }

    &__body {
        padding: 15px;
    }
}