.rt-post {
    transition: 0.3s;
    position: relative;
    --theme-color-link: var(--theme-font-color-primary);
    &__thumbnail {
        margin-bottom: 11px;
    }

    .rt-badges {
        margin-bottom: 7px;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__meta {
        margin-bottom: 10px;
        margin-left: -7px;
        margin-right: -7px;

        &-item {
            color: var(--theme-font-color-tertiary);
            font-size: 12px;
            line-height: 1;
            padding-left: 7px;
            padding-right: 7px;
            position: relative;

            i {
                margin-right: 5px;
            }

            &:before {
                content: "";
                position: absolute;
                right: -4px;
                top: 2px;
                bottom: 2px;
                width: 2px;
                background: var(--theme-border-color);
            }

            &:last-child {
                &:before {
                    display: none;
                }
            }
        }
    }

    &__content {
        color: var(--theme-font-color-secondary);
        margin-bottom: 8px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    &__readmore {
        @extend .rt-btn;
        @extend .rt-btn--sm;
        @extend .rt-btn--border;
        font-size: 13px;
    }
}

/*=================================================
*  POST LIST
=================================================== */
.rt-post--responsive-list {
    display: flex;
    flex-wrap: wrap;

    .rt-post {
        &__thumbnail {
            width: 100%;

            @include media-min(sm) {
                width: 230px;
                margin-bottom: 0;
            }

            @include media-min(lg) {
                width: 320px;
                margin-bottom: 0;
            }

            img {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                object-fit: cover;
                object-position: center;
            }
        }

        &__body {
            @include media-min(sm) {
                flex: 1;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

/*=================================================
*  POST LIST
=================================================== */
.rt-post--list {
    display: flex;
    flex-wrap: wrap;

    .rt-post {
        &__thumbnail {
            width: 320px;
            margin-bottom: 0;
            margin-right: 15px;

            @include media(lg) {
                width: 40%;
                margin-right: 0;
            }

            img {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                object-fit: cover;
                object-position: center;
            }
        }

        &__body {
            display: block;
            flex: 1;
            padding-left: 15px;
            padding-right: 15px;
        }

        &__thumbnail {
            @include media(lg) {
                margin-right: 0;
            }
        }

        &__title {
            @include media(lg) {
                font-size: rem(16px);
            }
        }

        &__content,
        &__footer {
            @include media(lg) {
                display: none;
            }
        }
    }
}

/*=================================================
*  POST LIST SM
=================================================== */
.rt-post--list-small {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    .rt-post {
        &__title {
            margin-bottom: 3px;
            margin-top: 0;
            font-size: rem(14px);
        }

        &__meta {
            margin-bottom: 0;
        }

        &__thumbnail {
            width: $thumbnail-size;
            margin-bottom: 0;

            img {
                width: 100%;
            }
        }

        &__body {
            flex: 1;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

/*=================================================;
/* CARD FRAME
/*================================================= */
.rt-post--grid,
.rt-post--card{
    display: flex;
    flex-flow: column;
    .rt-post{
        &__title{
            font-size: rem(16px);
        }
        &__body{
            flex: 1;
            display: flex;
            flex-flow: column;
        }
        &__footer{
            margin-top: auto;
            align-self: left;
        }
    }
    
}
.rt-post--card {
    height: 100%;
    overflow: hidden;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: var(--theme-card-background);
    .rt-post {
        &__thumbnail {
            margin-bottom: 0;

            img {
                border-radius: 0;
            }
        }

        &__body {
            padding: 15px;
            padding-bottom: 20px;
        }
    }

    &:hover {
        box-shadow: $shadow-md;
    }
}