
/*=================================================
* MAIN
/*================================================= */
.rt-search {
  background-color: $background-primary;
  z-index: -1;
  box-shadow: $shadow-sticky;
  position: absolute;
  right: 0;
  left: 0;
  display: none;
  height: $search-height;

  .page-container {
    position: relative;
    display: flex;
    align-items: center;
  }


  &__inner {
    width: 100%;
    margin: 0;
  }

  &__input {
    display: block;
    width: 100%;
    height: inherit;
    color: $font-color-secondary;
    border: none !important;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    padding-left: 30px !important;

    &:placeholder {
      color: currentColor;
      opacity: 1;
    }
  

    &:focus {
      box-shadow: none !important;
      outline: none;
      border: none !important;
    }
  }

  &__icon {
    color: $font-color-secondary;
    font-size: 21px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn {
    display: none;
  }

  &__close {
    position: absolute;
    right: 15px;
    z-index: 9;
    cursor: pointer;

    &:hover {
      color: $link-active;
    }
  }

}