.rt-search-form {
  display: block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: $font-color-secondary;
  &__inner {
    position: relative;
    margin-bottom: 0;
  }

  &__input {
    @extend .rt-form__input;
    padding-right: 35px;
  }

  &__btn {
    color: inherit;
    position: absolute;
    border: none;
    background: transparent;
    height: 100%;
    top: 0;
    right: 5px;
  }
}

.rt-header .rt-search-form--btn {
  --theme-search-form-btn-color: var(--theme-btn-primary-color);
  --theme-search-form-btn-bg: var(--theme-btn-primary-background);
  --theme-search-form-btn-color-active: var(--theme-btn-primary-color-active);
  --theme-search-form-btn-bg-active: var(--theme-btn-primary-background-active);
  .rt-search-form {
    &__btn {
      color: var(--theme-search-form-btn-color);
      background: var(--theme-search-form-btn-bg);
      right: 0;
      padding: 0 15px;
      border-top-right-radius: var(--theme-border-radius);
      border-bottom-right-radius: var(--theme-border-radius);
      cursor: pointer;
      &:hover {
        color: var(--theme-search-form-btn-color-active);
        background: var(--theme-search-form-btn-bg-active);
      }
    }
  }
}
