.rt-sidepanel {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  height: 100%;

  &__overlay {
    position: absolute;
    right: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $color-overlay;
  }

  &__inner {
    position: fixed;
    z-index: 999999999;
    top: 0;
    right: 0;
    bottom: 0;
    width: 370px;
    height: 100%;
    background-color: $background-primary;
    display: none;

    @include media(sm) {
      width: calc(100% - 50px);
    }
  }

  &__header {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid $border-color;
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
  }

  &__body {
    padding: 15px;
    height: calc(100% - 40px);
    overflow-y: auto;
  }
  &__footer {
    padding: 15px;
  }

  &__close {
    color: $font-color-secondary;
    position: absolute;
    right: 15px;
    text-transform: uppercase;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__close-outner {
    left: -32px;
    width: 32px;
    line-height: 32px;
    background-color: $background-secondary;
    text-align: center;
    color: #222;
    position: absolute;
    top: 32px;
    color: $font-color-primary;
    font-size: 12px;
  }
}

// left panel
.rt-sidepanel--left {
  .rt-sidepanel {
    &__inner {
      right: auto;
      left: 0;
    }

    &__close-outner {
      right: -32px;
      left: auto;
    }

    &__close {
      right: 15px;
      left: auto;
    }
  }
}

// bottom panel
.rt-sidepanel--bottom {
  .rt-sidepanel {
    &__inner {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      top: 50%;
      margin: 0 auto;
      width: auto;
      height: auto;
      left: 0;
      width: 570px;
      @include media(md) {
        top: 20%;
        width: 100%;
      }
    }
  }
}

// top panel
.rt-sidepanel--top {
  .rt-sidepanel {
    &__inner {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      top: 0;
      bottom: auto !important;
      width: 570px;
      margin: 0 auto;
      height: auto;
      left: 0;
      @include media(md) {
        width: 100%;
      }
    }
  }
}
