.rt-single-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  padding: 15px 20px;

  &__label {
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__title {
    margin: 1px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &__body {
    display: flex;
    flex-direction: row nowrap;

    @include media(sm) {
      display: block;
    }
  }

  .rt-img {
    width: $thumbnail-size;
    margin-right: 10px;

    img {
      border-radius: 100%;
    }

    @include media(sm) {
      margin: 0 auto 10px !important;
    }
  }

  &:hover {
    color: $link;
  }

  &-next {
    text-align: right;

    i {
      margin-left: 8px;
    }
  }

  &-prev {
    i {
      margin-right: 8px;
    }
  }

  &-next,
  &-prev {
    color: $font-color-tertiary;
    width: 50%;
    align-items: center;

    @include media(sm) {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.rt-single-nav-next {
  .rt-single-nav__body {
    flex-flow: row-reverse nowrap;
  }

  .rt-img {
    margin-left: 10px;
    margin-right: 0;
  }
}