.rt-single {
    .rt-breadcrumbs{
        margin-bottom: 10px;
    }
    &__title {
        margin-top: 0;
    }
    &__thumbnail{
        margin-bottom: 30px;
    }

    &__meta {
        margin-left: -7px;
        margin-right: -7px;
        margin-bottom: $grid-spacing;
        &-item{
            color: $font-color-tertiary;
            font-size: 14px;
            padding-left: 7px;
            padding-right: 7px;
            position: relative;

            i {
                margin-right: 5px;
            }

          
            &:after {
                content: "";
                position: absolute;
                right: 1px;
                top: 2px;
                bottom: 2px;
                width: 2px;
                background: $border-color;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
        a{
            color: $font-color-tertiary;
            &:hover{
                color: $link;
            }
        }
        .category{
            a{
                margin-left: -7px;
                margin-right: -7px;
            }
             &:last-child {
                span {
                    display: none;
                }
            }
        }
    }

    &__content {
        padding-bottom: 40px;
        border-bottom: 3px solid $border-color;
        margin-bottom: $grid-spacing;
    }
    .rt-share{
        margin-bottom: $grid-spacing;
    }
}