.rt-socmed {
  display: flex;
  flex-wrap: wrap;

  &__title {
    margin: 0 10px 0 0;
    font-size: 16px;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-right: 5px;
    text-align: center;
    color: $font-color-secondary;
    background-color: $background-secondary;
    border: 1px solid $border-color;
    border-radius: $border-radius;

    i {
      position: relative;
      margin: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      @each $sosmed, $background in $sosmed {
        &.#{$sosmed} {
          color: $color-base;
          border-color: darken($background, 9%);
          background-color: darken($background, 8%);
        }
      }
    }
  }
}

/*=================================================
*  COLOR
=================================================== */
.rt-socmed--brand {
  .rt-socmed__item {
    color: $color-base;

    @each $sosmed, $background in $sosmed {
      &.#{$sosmed} {
        background-color: $background !important;
        border-color: darken($background, 3%) !important;
        &:hover {
          background-color: lighten($background, 10%) !important;
          border-color: lighten($background, 10%) !important;
        }
      }
    }
  }
}

.rt-socmed--border {
  .rt-socmed__item {
    color: $font-color-secondary !important;
    background-color: transparent !important;
    border-color: $border-color !important;
    border-width: 1px;
  }
}

/*=================================================
*  SIMPLE
=================================================== */
.rt-socmed--simple {
  margin-left: -7px;
  margin-right: -7px;

  .rt-socmed__item {
    background-color: transparent !important;
    border: 0;
    color: $font-color-secondary;

    &:hover {
      color: $link-active;
      background-color: transparent;
      border-color: transparent;
    }
  }
}

/*=================================================
*  SIZE
=================================================== */
.rt-socmed--md {
  .rt-socmed__item {
    font-size: 18px;
    width: 36px;
    height: 36px;
  }
}

.rt-socmed--lg {
  .rt-socmed__item {
    font-size: 21px;
    width: 46px;
    height: 46px;
  }
}

/*=================================================
* STYLE
/*================================================= */
.rt-socmed--circle {
  .rt-socmed__item {
    border-radius: 50%;
  }
}
