.rt-swiper {
   margin-bottom: $grid-spacing;
   .swiper-button-prev,
   .swiper-button-next {
      transition: 0.3s;
      background-image: none !important;
      background-color: $background-primary;
      box-shadow: $shadow-md;
      display: inline-block;
      width: 37px;
      height: 37px;
      line-height: 37px;
      text-align: center;
      border-radius: 100px;
      font-size: 16px;
      color: var(--theme-font-color-primary);

      &:before,
      &:after {
         display: none;
      }
      svg {
         width: 1em;
         height: 1em;
         display: inline-block;
         vertical-align: -0.125em;
         position: relative;
         fill: currentcolor;
      }

      &:hover {
         background-color: $color-brand;
         color: $color-base;
      }
   }

   .swiper-button-prev {
      left: 15px;

      svg {
         margin-right: 2px;
      }
   }

   .swiper-button-next {
      right: 15px;

      svg {
         margin-left: 2px;
      }
   }

   .swiper-button-disabled {
      display: none;
   }

   .swiper-pagination-fraction {
      font-size: 12px;
      color: $font-color-primary;
      background-color: $background-primary;
      border-radius: 8px;
      padding: 0 8px;
      left: auto;
      right: 10px;
      bottom: 18px;
      width: auto;
      box-shadow: $shadow-sm;
   }

   .swiper-pagination-bullet-active {
      background-color: $color-brand;
   }
}

.rt-swiper--stretch {
   .swiper-wrapper {
      align-items: stretch;
   }

   .swiper-slide {
      height: auto !important;
   }
}

.rt-swiper--nonav {
   .swiper-button-next,
   .swiper-button-prev {
      display: none;
   }
}

.rt-swiper--pagination-outer {
   .swiper-wrapper {
      margin-bottom: 40px;
   }
}

.rt-swiper {
   .swiper-link {
      color: $font-color-primary;
      text-align: center;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;

      i {
         font-size: 18px;
         background-color: $background-primary;
         box-shadow: $shadow-sm;
         width: 45px;
         line-height: 45px;
         border-radius: 50%;
         margin-bottom: 10px;
      }

      &:hover,
      &:focus {
         i {
            background-color: $link-active;
            color: $color-base;
         }
      }
   }
}
/*=================================================;
/* Swiper with card shadow
/*================================================= */
$swiper-spacer: $grid-gap;

.rt-swiper--card {
   margin: -$swiper-spacer;
   padding: $swiper-spacer;
   padding-bottom: $grid-spacing;

   .swiper-button-prev {
      left: $swiper-spacer + 15;
   }

   .swiper-button-next {
      right: $swiper-spacer + 15;
   }
}

/*====================================================
/* SWIPER PLACEHOLDER
/*====================================================*/
.rt-swiper:not(.swiper-vertical) {
   .swiper-slide {
      width: calc(calc(100% - calc(var(--gap) * (var(--slides) - 1))) / var(--slides));
      margin-right: var(--gap);
      
      @media (min-width: 720px) {
         width: calc(calc(100% - calc(var(--md--gap) * (var(--md--slides) - 1))) / var(--md--slides));
         margin-right: var(--md--gap);
      }

      @media (min-width: 960px) {
         width: calc(calc(100% - calc(var(--lg--gap) * (var(--lg--slides) - 1))) / var(--lg--slides));
         margin-right: var(--lg--gap);
      }
   }
}

