.rt-tag{
  margin-bottom: 30px;
}
.tag_title{
  margin-right: 15px;
}
.tag_item{
  display: inline-block;
  line-height: 27px;
  font-size: 11px;
  padding: 0 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: $border-radius;
  background-color: $background-secondary;
  color: $font-color-secondary;
  text-transform: capitalize;
}
