.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  padding: 1em 2em 1em 3.5em;
  margin: 0 0 2em;
  position: relative;
  list-style: none outside;
  border-radius: $border-radius;
  @include clearfix();
  width: auto;
  word-wrap: break-word;

  &::before {
    font-family: "WooCommerce";
    content: "\e028";
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
  }

  .button {
    float: right;
    padding: 0 !important;
    background-color: transparent;
    color: inherit;
    text-decoration: underline;

    @include media(sm) {
      text-align: left !important;
    }

    &:hover {
      background-color: transparent !important;
      color: inherit !important;
      box-shadow: none !important;
      text-decoration: underline;
      opacity: 0.5;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
      color: inherit;
      text-decoration: underline;
      opacity: 0.5;
    }
  }

  li {
    list-style: none outside !important; // Required for default theme compatibility
    padding-left: 0 !important; // Required for default theme compatibility
    margin-left: 0 !important; // Required for default theme compatibility
    margin-bottom: 3px !important;
  }
}

.woocommerce-message {
  background-color: $color-success-lighter;
  color: $color-success;

  &::before {
    content: "\e015";
    color: $color-success;
  }

  @include media(sm) {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .button {
    @include media(sm) {
      margin-top: 15px;
    }
  }
}

.woocommerce-notice--success {
  background-color: $color-success-lighter;
  color: $color-success;

  &::before {
    color: $color-success;
  }
}

.woocommerce-info {
  background-color: $color-info-lighter;
  color: $color-info;

  &::before {
    color: $color-info;
  }
}

.woocommerce-error {
  background-color: $color-danger-lighter;
  color: $color-danger;

  &::before {
    content: "\e016";
    color: $color-danger;
  }
}
