/*=================================================;
/* PRIMARY
/*================================================= */
.button {
  &.added::after {
    font-family: "WooCommerce";
    content: "\e017";
    margin-left: 0.53em;
    vertical-align: bottom;
  }
}

/*=================================================;
 /* ACTION BUTTON
 /*================================================= */
.button.checkout,
.woocommerce #place_order.button,
.woocommerce .checkout-button {
  width: 100%;
  font-size: 16px;
  padding: 12px 30px;
  position: relative;
  &:after {
    content: "";
    background-color: currentColor;
    height: 1.2em;
    width: 1.2em;
    display: block;
    position: absolute;
    mask: url(../../img/arrow-right.svg) no-repeat 100% 100%;
    mask-size: auto;
    mask-size: cover;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
  }
  &:hover::after {
    right: 15px;
  }
}
