/*=================================================;
/* PRODUCT LIST
/*================================================= */
.rt-cart-item {
  display: flex;
  border-bottom: 1px solid $border-color;
  flex-flow: row nowrap;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  &:last-child {
    border-bottom: none;
  }

  &__body {
    text-align: left !important;
    flex: 1;
    padding-right: 65px;
  }

  &__thumbnail {
    width: $thumbnail-size;
    margin-right: 10px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 1.3em;
    a {
      color: $font-color-primary;
    }
  }

  &__meta {
    text-transform: capitalize;
    font-size: 11px;
    margin-bottom: 0;
    dl.variation {
      margin: 0 !important;
    }
    ul {
      margin-left: 0;
      padding: 0;
    }
  }

  &__quantity {
    position: absolute;
    right: -5px;
    top: 5px;
  }

  &__remove a {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: -5px;
    top: 5px;
    width: 15px;
    height: 15px;
    line-height: 11px !important;
    font-size: 14px;
    background-color: $color-danger-lighter;
    color: $color-danger;
    border: 1px solid $color-danger;
    border-radius: 100px;
    z-index: 9;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      background-color: $color-danger;
      color: $color-danger-lighter;
      border: 1px solid $color-danger;
    }
  }

  .rt-qty {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 58px;
    .qty {
      font-size: 11px;
      height: 25px;
    }
    span {
      height: 25px;
      width: 20px;
    }
  }

  &__price {
    font-size: 12px;
  }
}

/*=================================================;
/* META ITEM
/*================================================= */
.woocommerce .wc-item-meta,
.woocommerce dl.variation {
  padding: 0;
  list-style: none;
  margin: 8px 0;
  line-height: 1.7;
  .wc-item-meta-label,
  dt {
    display: block;
    float: left;
    margin-right: 5px;
    clear: both;
    list-style: none outside;
  }
  dd {
    margin-left: 0;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 0;
  }
}
