/**
 * Forms
 */
.woocommerce-form-row {
  position: relative;
}

form .form-row {
  padding: 3px;
  margin: 0 0 6px;

  [placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
  }

  label.hidden {
    visibility: hidden;
  }

  .woocommerce-input-wrapper {
    .description {
      background: $color-info;
      color: #fff;
      border-radius: 3px;
      padding: 1em;
      margin: 0.5em 0 0;
      clear: both;
      display: none;
      position: relative;

      a {
        color: #fff;
        text-decoration: underline;
        border: 0;
        box-shadow: none;
      }

      &::before {
        left: 50%;
        top: 0%;
        margin-top: -4px;
        transform: translateX(-50%) rotate(180deg);
        content: "";
        position: absolute;
        border-width: 4px 6px 0 6px;
        border-style: solid;
        border-color: $color-info transparent transparent transparent;
        z-index: 100;
        display: block;
      }
    }
  }

  .required {
    color: $color-red;
    font-weight: $font-weight;
    border: 0 !important;
    text-decoration: none;
    visibility: hidden; // Only show optional by default.
    margin-left: 3px;
  }

  .optional {
    visibility: visible;
  }

  &.woocommerce-invalid {
    label {
      color: $color-red;
    }

    .select2-container,
    input.input-text,
    select {
      border-color: $color-red;
    }
  }

  &.woocommerce-validated {
    .select2-container,
    input.input-text,
    select {
      border-color: darken($color-green, 5%);
    }
  }
}

ul#shipping_method {
  list-style: none outside;
  margin: 0;
  padding: 0;

  li {
    margin: 0 0 0.5em;
    line-height: 1.5em;
    list-style: none outside;

    input {
      margin: 3px 0.4375em 0 0;
      vertical-align: top;
    }

    label {
      display: inline;
    }
  }

  .amount {
    font-weight: $font-weight;
  }
}

p.woocommerce-shipping-contents {
  margin: 0;
}

/*=================================================
*  GENERAL FORM
=================================================== */
.form-row-first,
.form-row-last {
  z-index: 2;
}

.woocommerce .input-text,
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
.woocommerce .search-field {
  display: block;
  padding: 8px 15px;
  box-sizing: border-box;
  width: 100%;
  color: $font-family-secondary;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $background-primary;

  &:focus {
    outline: none;
    border-color: $color-info;
  }
}

.woocommerce form .form-row {
  margin-bottom: 5px;
}

.woocommerce-form-row em {
  font-size: 12px;
  color: $font-color-tertiary;
}

.woocommerce form .form-row label {
  font-weight: $font-weight;
}

/*=================================================;
/* CHECKBOX
/*================================================= */
.comment-form-cookies-consent {
  position: relative;

  label {
    margin-left: 20px;
  }

  input {
    position: absolute;
    top: em(5px);
    left: 0;
  }
}

/*=================================================;
/* FORM FIELD
/*================================================= */
.form-row.rt-form--overlay.is-active .rt-form__label {
  top: 12px;
  left: 15px;
}

/*=================================================;
/* QUANTITY
/*================================================= */
.woocommerce-js .rt-qty {
  position: relative;

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.rt-qty {
  margin-bottom: 10px;
  width: 90px;
  position: relative;

  .input-text {
    height: 32px;
    text-align: center;
    color: $font-color-secondary;
    background-color: $background-primary;
  }

  span {
    overflow: hidden;
    position: relative;
    height: 38px;
    width: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $background-secondary;
    border: 1px solid $border-color;

    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;

    // &:before {
    //   visibility: hidden;
    //   transition: 0.2s;
    //   position: absolute;
    //   background: $background-secondary;
    //   opacity: 0.1;
    //   content: "";
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    // }

    &:hover {
      &::before {
        visibility: visible;
      }
    }
  }

  .input-text {
    height: 38px;
  }

  &__min {
    left: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &__max {
    right: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.no-js {
  .rt-qty {
    &__min {
      display: none;
    }

    &__max {
      display: none;
    }

    .input-text {
      pointer-events: visible;
    }
  }
}

// Remove qty if product no have stock
.quantity.hidden .rt-qty {
  display: none;
}

// Remove quantity if product sold individually
.sold-individually form.cart div.quantity{
  display: none !important;
}

/*=================================================
  *  LOGIN REGISTER
  =================================================== */
.woocommerce form.login,
.woocommerce form.register {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  margin-top: 10px;
  border-color: transparent;
}

.woocommerce form.login,
.woocommerce form.register {
  padding: 0;
}

.woocommerce form.rt-panel.login,
.woocommerce form.rt-panel.register {
  border-color: $border-color;
}

/*=================================================;
  /* SHOW/HIDDEN PASSWORD
  /*================================================= */
.show-password-input {
  position: absolute;
  right: 15px;
  top: 38px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.display-password::after {
    color: $font-color-primary;
  }

  &::after {
    font-family: WooCommerce;
    speak: never;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-left: 0.618em;
    content: "";
    text-decoration: none;
  }
}

.rt-form--overlay {
  .show-password-input {
    top: 18px;
  }
}

/*====================================================
/* RESET PASSWORD
/*====================================================*/
.woocommerce-lost-password{
  .show-password-input{
    display: none;
  }
  .password-input .show-password-input{
    display: block;
    top: 32px;
  }
}