/**
 * Global styles
 */
/*=================================================;
/* STORE NOTIFICATION
/*================================================= */
p.demo_store,
.woocommerce-store-notice {
    padding: 1em 15px;
    text-align: center;
    background-color: $color-brand;
    color: $color-base;
    z-index: 99998;
    display: none;
    margin-bottom: 0;
    a {
        color: $color-base;
        text-decoration: underline;
    }
}


.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}


/**
 * Main WooCommerce styles
 */
.woocommerce {

    .blockUI.blockOverlay {
        position: relative;

        @include loader();
    }

    .loader {

        @include loader();
    }

    a.remove {
        display: block;
        font-size: 14px;
        line-height: 11px;
        height: 15px;
        width: 15px;
        text-align: center;
        line-height: 10px;
        border-radius: 100%;
        background-color: $color-danger-lighter;
        color: $color-danger;
        border: 1px solid $color-danger;
        text-decoration: none;
        font-weight: $font-weight;

        &:hover {
          background-color: $color-danger;
          color: $color-danger-lighter;
          border: 1px solid $color-danger;
        }
    }

    small.note {
        display: block;
        color: $font-color-tertiary;
        font-size: 0.857em;
        margin-top: 10px;
    }

    .woocommerce-form-login {
        .woocommerce-form-login__rememberme {
            display: inline-block;
        }
    }
}


/*=================================================;
/* NO JS
/*================================================= */
.woocommerce-no-js {

    form.woocommerce-form-login,
    form.woocommerce-form-coupon {
        display: block !important;
    }

    .woocommerce-form-login-toggle,
    .woocommerce-form-coupon-toggle,
    .showcoupon {
        display: none !important;
    }
}


/*=================================================;
/* SALE
/*================================================= */
.onsale {
    min-width: 3.236em;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    text-align: center;
    line-height: 1;
    top: -0.5em;
    left: -0.5em;
    margin: 0;
    border-radius: $border-radius;
    border: 1px solid $color-danger;
    background-color: $color-danger-lighter;
    color: $color-danger;
    z-index: 9;
}



/*=================================================;
/* HIDDEN BUTTON
/*================================================= */
// hidden button if catalog mode
.catalog-mode .single_add_to_cart_button {
    display: none !important;
  }
  
  /*=================================================;
  /* SHOP - NAVBAR BOTTOM
  /*================================================= */
  .shop-navbar {
    @include media(md) {
      margin-bottom: 63px;
      .rt-shop-navbar {
        display: flex;
      }
      .wwc-chat__icon {
        display: none;
      }
    }
    @include media(sm) {
      .rt-gotop {
        bottom: 70px;
      }
    }
  }
  .rt-shop-navbar {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    flex-flow: row nowrap;
    background-color: $background-primary;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    &__item {
      position: relative;
      flex: 1 0;
      text-align: center;
    }
    a {
      display: block;
      cursor: pointer;
      color: $font-color-primary;
      padding: 12px 2px;
      width: 100%;
      height: 100%;
    }
    &__icon {
      position: relative;
      font-size: 18px;
      line-height: 1;
      margin-bottom: 5px;
    }
    &__label {
      display: block;
      font-size: 11px;
      line-height: 1;
    }
    .rt-icon{
      margin-right: 0;
    }
  }
  
