/*=================================================;
/* MINI CART
/*================================================= */
.rt-mini-cart {
    padding: 15px;

    .buttons {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .button {
        flex: 1;
    }

    .button:not(.checkout) {
        margin-bottom: 10px;
        font-size: 16px;
        padding: 12px 30px;
    }

    &__empty {
        text-align: center;
        margin-top: 60px;

        i {
            font-size: 27px;
            background: $background-secondary;
            width: 60px;
            height: 60px;
            line-height: 60px;
            display: inline-block;
            text-align: center;
            border-radius: 100px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }
    }
    .stock{
        font-size: 12px;
        color: var(--theme-font-color-tertiary);
    }
}

/*=================================================;
/* PANEL CART
/*================================================= */
.rt-panel-cart {
    .rt-loading{
        position: static;
    }
    .rt-sidepanel__body {
        padding: 0;
    }
    .rt-mini-cart {
        &__body{
            margin-bottom: 150px;
        }
        &__footer {
            background-color: $background-primary;
            padding: 0 15px 30px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            .total{
                margin-top: 0;
            }
        }
       
    }
    //remove Paypal button on panel mini cart
    #woo_pp_ec_button_mini_cart {
        display: none !important;
    }
}