/**
	 * Order page
	 */
    ul.order_details {

        @include clearfix();
        margin: 0 0 3em;
        list-style: none;

        li {
            float: left;
            margin-right: 2em;
            text-transform: uppercase;
            font-size: 0.715em;
            line-height: 1;
            border-right: 1px dashed $border-color;
            padding-right: 2em;
            margin-left: 0;
            padding-left: 0;
            list-style-type: none;

            strong {
                display: block;
                font-size: 1.4em;
                text-transform: none;
                line-height: 1.5;
            }

            &:last-of-type {
                border: none;
            }
        }
    }

    .wc-bacs-bank-details-account-name {
        font-weight: $font-weight;
    }

    .woocommerce-customer-details,
    .woocommerce-order-details {
        margin-bottom: 2em;
        thead th:last-child {
            text-align: right;
        }
    }

    .woocommerce-customer-details {

        address {
            background-color: $background-secondary;
            font-style: normal;
            margin-bottom: 15px;
            border: 1px solid $border-color;
            text-align: left;
            width: 100%;
            border-radius: $border-radius;
            padding: 10px 15px;
        }

        .woocommerce-customer-details--phone,
        .woocommerce-customer-details--email {
            margin-bottom: 0;
            padding-left: 1.5em;
        }

        .woocommerce-customer-details--phone::before {

            @include iconbefore("\e037");
            margin-left: -1.5em;
            line-height: 1.75;
            position: absolute;
        }

        .woocommerce-customer-details--email::before {

            @include iconbefore("\e02d");
            margin-left: -1.5em;
            line-height: 1.75;
            position: absolute;
        }
    }
