
/**
 * Password strength meter
 */
.woocommerce-password-strength {
    text-align: center;
    font-weight: $font-weight;
    padding: 3px 0.5em;
    font-size: 1em;

    &.strong {
        background-color: $color-success-lighter;
        border-color: $color-success;
    }

    &.short {
        background-color: $color-danger-lighter;
        border-color: $color-danger-lighter;
    }

    &.bad {
        background-color: #fbc5a9;
        border-color: #f78b53;
    }

    &.good {
        background-color: #ffe399;
        border-color: #ffc733;
    }
}

.woocommerce-password-hint {
    margin: 0.5em 0 0;
    display: block;
}