/**
	 * Product loops
	 */
/*=================================================
*  FILTER
=================================================== */
.rt-shop-filter-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.woocommerce-result-count {
  margin-top: 8px !important;
  margin-right: 10px;
  float: none !important;
}

.woocommerce-ordering {
  float: none !important;
}

.rt-filter-toggle {
  @include media(md) {
    display: none !important;
  }
}

/*=================================================;
/* FILTER SLIDEPANEL
/*================================================= */
.rt-shop-filter-slidepanel {
  .rt-widget {
    border: none;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
  }
}

/*=================================================
*  PRODUCT ITEM
=================================================== */
.rt-product {
  position: relative;
  transition: 0.2s;
  height: 100%;

  &__thumbnail {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    a {
      display: block;
    }
    img {
      width: 100%;
    }

    .button {
      display: none;
    }
  }

  &__body {
    position: relative;
    transition: 0.2s;
    text-align: center;
  }

  &__title {
    margin-top: 0;
    font-size: 14px;

    @include media(sm) {
      font-size: 12px;
    }

    a {
      color: $font-color-primary;
    }
  }

  .onsale {
    top: 5px;
    right: 5px;
    left: auto;
    margin: 0;
    border-radius: $border-radius;
  }

  .star-rating {
    float: none;
    display: inline-block;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .price {
    display: block !important;
    color: $font-color-tertiary;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;

    del {
      color: inherit;
      opacity: 0.5;
      display: inline-block;
    }

    ins {
      text-decoration: none;
    }

    .from {
      font-size: 0.67em;
      margin: -2px 0 0 0;
    }
  }

  .wc-forward {
    display: none;
  }

  .button {
    white-space: normal;
    @include media(sm) {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  strong {
    display: block;
  }
}

/*=================================================;
/* PRODUCT CARD
/*================================================= */
.rt-product--card {
  background-color: var(--theme-card-background);
  border: 1px solid $border-color;
  border-radius: $border-radius;
  overflow: hidden;

  .rt-product__thumbnail {
    margin-bottom: 0;
    overflow: hidden;
    border: 0;

    img {
      border-radius: 0;
    }
  }

  .rt-product__body {
    padding: 15px;
    padding-bottom: 20px;
  }

  &:hover {
    box-shadow: $shadow-md;
  }
}

/*=================================================
*  PRODUCT STYLE 1
=================================================== */
.rt-product--overlay-btn {
  .rt-product {
    &__thumbnail {
      .button {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s;
        border-radius: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        color: $color-base;
        background-color: #222222;
        border-color: none;
        transform: translateY(100%);
        color: $color-base;

        i {
          margin-right: 5px;
        }

        &:hover {
          background-color: $color-brand;
        }

        @include media(sm) {
          font-size: 10px;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    &__body {
      .button {
        display: none;
      }
    }
  }

  &:hover .rt-product__thumbnail .button,
  .rt-product__thumbnail .button.loading {
    transform: translateY(0);
  }
}

/*=================================================
*  PRODUCT STYLE 2
=================================================== */
.rt-product--button {
  span.price {
    display: block;
  }

  .rt-product {
    &__body {
      .button {
        display: inline-block;
        margin-top: 15px;
      }
    }
  }
}

/*=================================================;
 /* PRODUCT STYLE 3
 /*================================================= */
.rt-product--quantity-field {
  .rt-qty {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .rt-product__body {
    .button {
      display: inline-block;
      margin-top: 15px;
    }
  }
}

.rt-product--center.rt-product--quantity-field {
  .quantity {
    display: flex;
    justify-content: center;
  }
}

/*====================================================
/* PRODUCT CENTER
/*====================================================*/
.rt-product--center{
  text-align: center;
}
/*=================================================;
/* CATEGORY LOOP
/*================================================= */
.rt-product-loop-category {
  cursor: pointer;
  position: relative;

  img {
    width: 100%;
  }

  .woocommerce-loop-category__title {
    position: absolute;
    margin-bottom: 0;
    background-color: rgba($color-base, 0.8);
    bottom: 0;
    color: $font-color-primary;
    right: 0;
    left: 0;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    transition: 0.3s;
  }

  .count {
    background-color: transparent;
    font-size: 14px;
    margin-top: 5px;
    color: $font-color-tertiary;
    transition: 0.3s;
  }

  &:hover {
    .woocommerce-loop-category__title {
      padding-top: 18px;
      padding-bottom: 18px;
      background-color: $color-brand;
      color: $color-base;
    }

    .count {
      color: $color-base;
    }
  }
}

/*=================================================;
/* PRODUCT CATEGORIES LIST
/*================================================= */
.rt-shop-categories {
  display: flex;
  justify-content: center;

  .rt-btn {
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
