/*=================================================;
/* Layered nav widget
/*================================================= */
.woocommerce-widget-layered-nav-dropdown__submit {
    margin-top: 1em;
}

.widget_layered_nav_filters ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside;
    overflow: hidden;
    zoom: 1;

    li {
        float: left;
        padding: 0 1em 1px 1px;
        list-style: none;

        a {
            text-decoration: none;

            &::before {

                @include iconbefore("\e013");
                color: $color-red;
                vertical-align: inherit;
                margin-right: 0.5em;
            }
        }
    }
}

/*=================================================
*  PRODUCT LIST
/*=================================================== */
.woocommerce {

    ul.cart_list,
    ul.product_list_widget {
        list-style: none outside;
        padding: 0;
        margin: 0;

        li {
            padding: 4px 0;
            margin: 5px 0;

            @include clearfix();
            list-style: none;

            a {
                display: block;
                font-weight: $font-weight;
                color: $font-color-primary;

                &:hover {
                    color: $link-active;
                }
            }

            img {
                border-radius: $border-radius;
                float: left;
                margin-left: 0;
                width: $thumbnail-size;
                margin-right: 10px;
                height: auto;
                box-shadow: none;
            }

            ins {
                text-decoration: none;
            }

            dl {
                margin: 0;
                padding-left: 1em;
                border-left: 2px solid rgba(0, 0, 0, 0.1);

                @include clearfix();

                dt,
                dd {
                    display: inline-block;
                    float: left;
                    margin-bottom: 1em;
                }

                dt {
                    font-weight: $font-weight;
                    padding: 0 0 0.25em;
                    margin: 0 4px 0 0;
                    clear: left;
                }

                dd {
                    padding: 0 0 0.25em;

                    p:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .star-rating {
                float: none;
            }
        }
    }

}

/*=================================================
*  CART
/*=================================================== */
.widget_shopping_cart {

    .remove {
        left: auto !important;
        right: 0;
    }

    .total {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        margin-top: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        strong {
            font-weight: $font-weight;
        }
    }
}

.rt-widget {
    &.widget_shopping_cart {
        .rt-mini-cart {
            padding: 0;
        }
    }
}

/*=================================================
*  FILTER
/* =================================================== */
.woocommerce {
    .widget_price_filter {

        .price_label {
            margin-bottom: 10px;
        }

        .from,
        .to {
            font-weight: $font-weight;
        }

        .price_slider {
            margin-bottom: 1em;
        }

        .price_slider_amount {
            display: flex;
            flex-direction: column-reverse;
            align-items: start;
            line-height: 2.4;
            font-size: rem(14px);

            .button {
                font-size: 1.15em;
                float: left;
            }
        }

        .ui-slider {
            position: relative;
            text-align: left;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

        .ui-slider .ui-slider-handle {
            position: absolute;
            z-index: 2;
            width: 1em;
            height: 1em;
            background-color: $color-brand;
            border-radius: 1em;
            cursor: ew-resize;
            outline: none;
            top: -0.3em;

            /* rtl:ignore */
            margin-left: -0.5em;
        }

        .ui-slider .ui-slider-handle {
            border: 2px solid $background-primary;
            box-shadow: $shadow-sm;
            background: $color-brand;
            width: 15px;
            height: 15px;
        }

        .ui-slider .ui-slider-range {
            position: absolute;
            z-index: 1;
            font-size: 0.7em;
            display: block;
            border: 0;
            border-radius: 1em;
            background: $color-brand;
            opacity: 0.5;
        }

        .ui-slider-handle {
            border: 2px solid $background-primary;
            box-shadow: $shadow-sm;
            background: $color-brand;
            width: 15px;
            height: 15px;
            top: -6px;
        }

        .price_slider_wrapper .ui-widget-content {
            border-radius: 1em;
            background-color: $background-secondary;
            border: 0;
        }

        .ui-slider-horizontal {
            height: 0.5em;
        }

        .ui-slider-horizontal .ui-slider-range {
            top: 0;
            height: 100%;
        }

        .ui-slider-horizontal .ui-slider-range-min {
            left: -1px;
        }

        .ui-slider-horizontal .ui-slider-range-max {
            right: -1px;
        }
    }
}

/*=================================================
*  SEARCH
/*=================================================== */
.widget_product_search {
    button {
        display: none;
    }
}

/*=================================================
*  Layered Nav Dropdown
/*=================================================== */
.woocommerce-widget-layered-nav {
    .select2-container--default .select2-selection--multiple {
        border-color: $border-color;
    }
}

/*=================================================;
/* Layered nav widget
/*================================================= */
.woocommerce-widget-layered-nav-list,
.widget_layered_nav_filters ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    margin-top: -3px;
    margin-bottom: -3px;

    li {
        position: relative;
        padding: 3px 20px;

        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -7px;
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            border: 1px solid $border-color;
        }

        a {
            color: inherit;
        }

        &:hover {
            a {
                color: $link-active;
            }
        }
    }

    .chosen {
        &::before {
            background-color: $link-active;
            border-color: $link-active;
            box-shadow: 0 0 0 1px rgb(255, 255, 255) inset;
        }
    }

    .count {
        opacity: .7;
        font-size: 12px;
    }
}

/*=================================================;
/* Product Sort
/*================================================= */
.widget_retheme_product_sort ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    margin-top: -3px;
    margin-bottom: -3px;

    li {
        position: relative;
        padding: 3px 20px;

        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -7px;
            border-radius: 50%;
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            border: 1px solid $border-color;
        }

        a {
            color: inherit;
        }

        &:hover {
            a {
                color: $link-active;
            }
        }
    }

    .is-active {
        &::before {
            background-color: $link;
            border-color: $link;
            box-shadow: 0 0 0 1px rgb(255, 255, 255) inset;
        }
    }

    .count {
        opacity: .7;
        font-size: 12px;
    }
}

/*=================================================;
/* Filter
/*================================================= */
.widget_rating_filter{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a{
        color: $font-color-secondary;
    }
}