// .border-radius{
//     border-radius: $border-radius;
// }

// .border{
//   border: 1px solid $border-color;
// }

// .shadow-sm{
//     box-shadow: $shadow-sm;
// }
// .shadow-md{
//     box-shadow: $shadow-md;
// }
// .shadow-lg{
//     box-shadow: $shadow-lg;
// }

.background-primary{
    background-color: $background-primary;
}
.background-secondary{
    background-color: $background-secondary;
}