$spacing: (all: all, top: t, right: r, bottom: b, left: l ) !default;

/*=================================================
*  Dynamic Margin
=================================================== */
@each $spacing, $value in $spacing {
    $index: 0;
    @while $index < 35 {
        .m#{$value}-#{$index} {
            @if $spacing == 'all' {
                margin: #{$index}px !important;
            }
            @else {
                margin-#{$spacing}: #{$index}px !important;
            }
        }
        $index: $index + 5;
    }
}

/*=================================================
*  Dynamic Padding
=================================================== */
@each $spacing, $value in $spacing {
    $index: 0;
    @while $index < 35 {
        .p#{$value}-#{$index} {
            @if $spacing == 'all' {
                padding: #{$index}px !important;
            }
            @else {
                padding-#{$spacing}: #{$index}px !important;
            }
        }
        $index: $index + 5;
    }
}

