

/*=================================================
*  TEXT TRANSFORM
=================================================== */

// .text-capital {
//     text-transform: capitalize;
// }

// .text-uppercase {
//     text-transform: uppercase;
// }

// .text-lowercase {
//     text-transform: lowercase;
// }


/*=================================================
*  FONT FAMILY
=================================================== */

// .font-primary {
//     font-family: $font-family-primary;
// }

// .font-second {
//     font-family: $font-family-secondary;
// }

/*=================================================
*  TEXT ALIGMENT
=================================================== */

// .text-center {
//     text-align: center;
// }

// .text-left {
//     text-align: left;
// }

// .text-right {
//     text-align: right;
// }

/*=================================================
*  LINE
=================================================== */
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid $border-color;
}

/*=================================================
*  LINK
=================================================== */
.link-text{
  color: $font-color-secondary;
  &:hover{
    color: $link-active;
  }
}