.rt-banner {
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;
  &__thumbnail {
    img {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      object-fit: cover;
      object-position: center;
      transition: 0.3s;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-overlay;
    background : linear-gradient(transparent,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.7));
  }
  &__body {
    z-index: 2;
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
  }
  &__title {
    margin-bottom: 5px;
    color: #e8e8e9;
  }
  &__meta {
    color: rgba(255, 255, 255, .4);
  }
  &__caption {
    color: rgba(255, 255, 255, .6);
  }
  &__badges {
    position: absolute;
    left: 15px;
    top: 15px;
    text-transform: capitalize;
    background-color: var(--theme-badges-background);
    border-radius: var(--theme-border-radius);
    color: var(--theme-badges-color);
    z-index: 2;
    padding: 5px 10px;
    line-height: 1;
    font-size: 13px;
  }
}
