.rt-img-box {
  --theme-color-link: var(--theme-font-color-tertiary);
  text-align: center;
  &__thumbnail {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    img {
      border-radius: 50%;
    }
  }
  &__title {
    font-size: 1rem;
    margin-bottom: 0;
  }
}