.rt-infobox {
  --theme-color-link: var(--theme-font-primary);
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
  a{
    display: flex;
    flex-flow: column nowrap;
  }
  &__thumbnail {
    margin-bottom: 15px;
    img {
      width: 100px;
    }
  }
  &__title {
    font-size: rem(16px);
    margin-bottom: em(10px);
  }
}
.rt-infobox--center{
  text-align: center;
  align-items: center;
}

.rt-infobox--left {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  .rt-infobox {
    &__thumbnail {
      flex: 0 0 50px;
      max-width: 50px;
      margin-right: 15px;
    }
  }
}

.rt-infobox--card{
  padding: 30px;
  background-color: #fff;
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
  @include media(sm){
    padding: 30px 15px;
  }
}