.rt-welcome-area {
  position: relative;
  &__intro {
    position: relative;
    font-size: 12px;
    margin-bottom: 5px;
    color: var(--theme-font-color-tertiary);
    display: inline-flex;
    align-items: center;
    &:before,
    &:after {
      position: relative;
      content: "";
      width: 20px;
      height: 1px;
      display: block;
      background-color: currentColor;
      opacity: 0.8;
    }
    &:before {
      margin-right: 7px;
    }
    &:after {
      display: none;
      margin-left: 7px;
    }
  }

  &__title {
    color: var(--theme-font-color-primary);
    margin-bottom: 10px;
  }

  &__content {
    color: var(--theme-font-color-secondary);
    margin-bottom: 30px;
  }

  &__background {
    position: absolute;
    background-color: var(--theme-background-secondary);
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
  }

  &__overlay {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.5) 33.33%,rgba(0,0,0,.7) 100%);
    z-index: -1;
  }

  &.home-section {
    padding-top: 160px;
    padding-bottom: 90px;
  }
}

.rt-welcome-area--style-1 {
  .rt-welcome-area {
    &__inner {
      @include media-min(lg) {
        display: flex;
      }
    }
    &__thumbnail {
      @include media-min(lg) {
        width: var(--theme-welcome-area-image-width, 50%);
      }
      img {
        width: 100%;
      }
      @include media(lg) {
        margin-bottom: 30px;
      }
    }

    &__body {
      @include media-min(lg) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 80px;
        padding-right: 30px;
      }
    }
  }
}

.rt-welcome-area--style-2 {
  .rt-welcome-area {
    &__inner {
      @include media-min(lg) {
        display: flex;
      }
    }
    &__thumbnail {
      @include media-min(lg) {
        width: var(--theme-welcome-area-image-width, 50%);
      }
      img {
        width: 100%;
      }
    }

    &__body {
      @include media-min(lg) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-right: 80px;
      }
      @include media(lg) {
        margin-bottom: 30px;
      }
    }
  }
}

.rt-welcome-area--style-3 {
  .rt-welcome-area {
    &__inner {
      @include media-min(lg) {
        width: var(--theme-welcome-area-image-width, 834px);
        margin: 0 auto;
      }
    }
    &__thumbnail {
      margin-bottom: 30px;
    }
    &__body {
      text-align: center;
    }
    &__intro {
      &:after {
        display: block;
      }
    }
  }
}
